<template>
	<div class="col-md-12 remove-float">
        <div class="page-header">
        	<router-link :to="{name: 'organization.create' }">
                <button style="margin-bottom: 5px" class="btn btn-primary pull-right" v-if='currentUser.role == "Admin"'>
                    <i class="glyphicon glyphicon-plus"></i> Add Organization</button>
            </router-link>
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Organization</el-breadcrumb-item>
                <el-breadcrumb-item>Search</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="panel panel-default search-panel">
            <form class="form-inline search-from">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-home"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Name" v-model="searchCriteria.name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Description" v-model="searchCriteria.description">
                    </div>
                </div>
                
                <div class="form-group search-button pull-right">
                    <button type="submit" class="btn btn-warning" @click.prevent="searchClicked()">
                        <i class="glyphicon glyphicon-search"></i> Search</button>
                    <button type="button" class="btn btn-default" @click.prevent="resetSearch()">
                        <i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- Main Panel -->
        <div class="panel panel-default">
            <el-table v-loading="tableLoading" :data="organizationList" style="width: 100%">
                <el-table-column prop="id" label="Id" width="50">
                </el-table-column>
                <el-table-column prop="name" label="Name" >
                </el-table-column>
                <el-table-column prop="description" label="Description">
                </el-table-column>
               
                <el-table-column label="Actions" width="150">
                    <template slot-scope="scope">
                        <router-link :to="{name: 'organization.edit', params: { id: scope.row.id }}">
                            <button class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </router-link>
                        <el-popover placement="top" width="160" v-model="scope.row.deletePopover"  v-if="scope.row.role !='Admin'">
                            <p>Are you sure want to delete this?</p>
                            <div style="text-align: right; margin: 0">
                                <button class="btn btn-sm" size="mini" type="text" @click="scope.row.deletePopover = false">cancel</button>
                                <button class="btn btn-danger btn-sm" type="primary" size="mini" @click="scope.row.deletePopover = false; deleteOrganization(scope.row.id)">confirm</button>
                            </div>
                            <button slot="reference" class="btn btn-danger btn-sm">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background layout="prev, pager, next" :total="totalItems" :page-size="pageSize" :current-page="current_page" @current-change="currentChange">
            </el-pagination>
        </div>

    </div>
    
</template>

<script>
export default {

  name: 'OrganizationSearch',

  data () {
    return {
    	searchCriteria: {
            name: '',
            description: ''
        },
        organizationList: [],
        totalItems: 20,
        pageSize: 10,
        current_page: 1,
        searching: false,
        tableLoading: true,
        currentUser: auth.user
    }
  },
        mounted: function () {
            this.getAllOrganization(this.current_page);
        },
        methods: {
            searchClicked: function (page) {
                var vm = this;
                vm.tableLoading = true;
                axios.post('/organization/search?page=' + page, vm.searchCriteria).then(function (response) {
                    vm.tableLoading = false;
                    vm.searching = true;
                    vm.organizationList = response.data.data;
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                });
            },
            getAllOrganization: function (page) {
                var vm = this;
                axios.get('/organization?page=' + page).then(function (response) {
                    vm.tableLoading = false;
                    vm.organizationList = response.data.data;
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                });
            },
            currentChange: function(val) {
                var vm = this;
                vm.current_page = val;
                if(!vm.searching)
                vm.getAllOrganization(vm.current_page);
                else
                vm.searchClicked(vm.current_page);
            },
            resetSearch: function () {
                var vm = this;
                vm.searchCriteria = {
                    name: '',
                    email: '',
                    role: ''
                };
                vm.searching = false;
                vm.current_page = 1;
                vm.getAllOrganization(vm.current_page);
            },
            deleteOrganization: function (id) {
                var vm = this;
                vm.tableLoading = true;
                axios.post('/organization/delete' , { id:id, currentUser: vm.currentUser}).then(function (response) {
                    vm.tableLoading = false;
                    vm.current_page = 1;
                    vm.getAllOrganization(vm.current_page);
                });
            },

        }
}
</script>

<style lang="css" scoped>
</style>