<template>
	<div class="col-md-12 remove-float">
        <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Organization</el-breadcrumb-item>
                <el-breadcrumb-item>Details</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
		<div class="panel panel-default">
            <el-form :model="organization"  ref="organization" label-width="120px" v-loading="loading" :rules="rules">
                <el-form-item label="Name" prop="name">
                    <el-input v-model="organization.name" :disabled="isEdit"> </el-input>
                </el-form-item>

                <el-form-item label="Description" prop="description" >
                    <el-input v-model="organization.description" :disabled="currentUser.role == 'P2'"></el-input>
                </el-form-item>
				<organization-members :members="organization.members" :isEdit="isEdit"></organization-members>

                <div class="form-group search-button pull-right from-button"  v-if="currentUser.role=='P1' || currentUser.role=='Admin'">
                    <button type="button" class="btn btn-primary" @click.prevent="submitForm(organization)"> {{ (organization.id) ? 'Update' : 'Save'}}</button>
                    <router-link :to="{name: 'organization.search'}">
                        <button type="button" class="btn btn-default"> Cancel</button>
                    </router-link>
                </div>
                <div class="clearfix"></div>
            </el-form>
        </div>

    </div>
</template>

<script>
import OrganizationMembers from './OrganizationMembers.vue'

export default {
  name: 'OrganizationForm',

  data() {
        var vm = this;
        var validateorganizationname = (rule, value, callback) => {
                if(vm.isEdit){
                    callback();
                }
                if (value === '') {
                  callback(new Error('Please input organizationname'));
                }
                else if (!_.isEmpty(value)) {
                    axios.post('/organization/checkOrganizationName',{name: value}).then(function(response) {
                        if(!_.isEmpty(response.data)){
                            callback(new Error('Organization name already exist!'));    
                        }
                        callback();
                    });
                  
                } else {
                  callback();
                }
          };

        

        return {
            organization: {
                name: '',
                description: '',
                members : []
            },
            currentUser : auth.user,
            isEdit : false,
         
            rules: {
                name: [
                    {validator: validateorganizationname, trigger: 'blur' ,required: true}
                ]
            },
            loading: true  
        };
    },
    mounted: function() {

        if (this.$route.params.id) {
            this.getOrganization(this.$route);
            this.isEdit = true;
            return;
        }
        this.loading = false;
    },
    
    methods: {
     
        getOrganization: function(route) {
            var vm = this;
            var id = route.params.id

            axios.get('/organization/' + id).then(function(response) {
                vm.loading = false;
                vm.organization = response.data;
            });
        },

        submitForm(organization) {
            this.$refs.organization.validate((valid) => {
                if (valid) {
                    var vm = this;
                    if (vm.organization.id ) {
                        //update
                        if(_.isEmpty(vm.organization.children)){
                            vm.organization.children = [];
                        }
                        if(_.isEmpty(vm.organization.devices)){
                            vm.organization.devices = [];
                        }

                       this.loading = true;
                        axios.put('/organization/'+ vm.organization.id, { organization: vm.organization, currentUser: vm.currentUser}).then(function(response) {
                            

                            vm.$alert('organization updated successfully', 'Success', {
                                confirmButtonText: 'OK',
                                callback: action => {
                                    
                                }
                            });
                        }).catch(function(response) {
                            console.error(response);
                            vm.loading = false;
                            
                        });
                        this.loading = false;
                    } else {
                        this.loading = true;
                        axios.post('/organization', { organization: vm.organization, currentUser: vm.currentUser}).then(function(response) {
                            vm.$alert('Organization created successfully', 'Success', {
                                confirmButtonText: 'OK',
                                callback: action => {
                                    vm.$router.push({
                                        name: 'organization.edit',
                                        params: {
                                            id: response.data.organization.id
                                        }
                                    });
                                }
                            });
                        }).catch(function(response) {
                            console.error(response);
                            vm.loading = false;
                            
                        });
                        this.loading = false;
                    }
                } else {
                    this.$message.error('error submit!!');
                    return false;
                }
            });
        },
        resetForm(organization) {
            this.$refs[organization].resetFields();
        }
    },   components: {
        'organization-members': OrganizationMembers
    }
}
</script>

<style lang="css" scoped>
</style>