<template>
	<div class="col-md-12 remove-float">
        <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Organization</el-breadcrumb-item>
                <el-breadcrumb-item>Approval</el-breadcrumb-item>
            </el-breadcrumb>
         
        </div>
        <div class="panel panel-default">
            <el-table v-loading="tableLoading" :data="memberList" style="width: 100%">
        
                <el-table-column prop="user.firstname" label="First Names" width="180">
                </el-table-column>
                <el-table-column prop="user.middlename" label="Middle Name" width="180">
                </el-table-column>
                <el-table-column prop="user.surname" label="Surname">
                </el-table-column>
                <el-table-column prop="user.email" label="Email">
                </el-table-column>
                <el-table-column prop="user.role" label="Role">
                </el-table-column>
                <el-table-column prop="organization.name" label="Organization">
                </el-table-column>
                <el-table-column label="Actions">
                    <template slot-scope="scope">
                        
                        <button class="btn btn-primary btn-sm" @click="approveUser(scope.row)">
                            <i class="glyphicon glyphicon-edit">Approve</i>
                        </button>
                        
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background layout="prev, pager, next" :total="totalItems" :page-size="pageSize" @current-change="currentChange">
           </el-pagination>
        </div>
    </div>
</template>

<script>
export default {

  name: 'OrganizationApproval',

  data () {
    return {
    	memberList : [],
        totalItems : 20,
        pageSize : 10,
        tableLoading : true,
        currentUser : auth.user
    }
  },
  mounted : function(){
  	this.getAllForApprovalMembers(1);
  },
  methods : {
  		getAllForApprovalMembers: function(page) {
          var vm = this;
       
          axios.get('/organization/getAllForApproval/' + vm.currentUser.id).then(function(response) {
                vm.tableLoading = false;
                vm.memberList = response.data.data;
                vm.totalItems = response.data.total;
                vm.pageSize  = response.data.per_page;
            });
        },
        currentChange : function(val){

          this.getAllForApprovalMembers(val);
        },
        approveUser: function(member){
        	var vm = this;
        	axios.post('/organization/approve', { member:member, currentUser: vm.currentUser}).then(function(response) {         
                vm.$alert('Member approved successfully', 'Success', {
                    confirmButtonText: 'OK',
                    callback: action => {
                        vm.getAllForApprovalMembers(1);
                    }
                });
            });
        }
       
  }
}
</script>

<style lang="css" scoped>
</style>