<template>
    <div class="col-md-12">
        <!-- <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>My Device</el-breadcrumb-item>
                <button class="btn btn-primary">Refresh</button>
            </el-breadcrumb>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i class="glyphicon glyphicon-hdd"></i>
                <strong>Device Name: </strong>
                <span>Device 1</span>
            </div>
            <div class="col-md-4">
                <i class="glyphicon glyphicon-tag"></i>
                <strong>MAC Address: </strong>
                <span>5b:5n:po:Gi:Pe:Te:r1</span>
            </div>
            <div class="col-md-4">
                <i class="glyphicon glyphicon-leaf"></i>
                <strong>Type: </strong>
                <span>Water</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Device Feed</h2>
            </div>
            <div class="col-md-12">
                <strong>Last Updated: </strong>
                <span>07/22/2018 3:30 PM</span>
            </div>
        </div>
        <div class="home-feed row">
            <div class="home-card col-md-12" v-for="n in 5" :key="n.id">
                <div>
                    <i class="glyphicon glyphicon-home"></i>
                    <strong>Dissolved Oxygen</strong>
                    <span>got a value of </span>
                    <i class="glyphicon glyphicon-asterisk"></i>
                    <strong>3 PPM</strong>
                    <span> with a status of </span>
                    <el-tag type="danger">
                        Critical
                    </el-tag>
                    <span>in</span>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <strong>14.473604 , 121.080075</strong>
                    <span class="time pull-right">07/22/2018 3:30 PM</span>
                </div>
            </div>
        </div> -->
        <hr />
        <div class="row about" id="about">
            <div class="col-md-12">
                <h1 class="header-text">About MHI</h1>
                <section>
                    <h4>General Objective</h4>
                    <ul>
                        <li>To design and develop a Metropolitan Health Indicator for researchers to monitor the environmental
                            quality in a designated place.</li>
                    </ul>
                </section>
                <section>
                    <h4>Specific Objectives</h4>
                    <ul>
                        <li>Develop a web-based MHI system</li>
                        <li>To create a module for:</li>
                        <ul>
                            <li>
                                Login and registration
                            </li>
                            <ul>
                                <li>
                                    User account registration
                                </li>
                            </ul>
                            <li>Administrator account (Managing accounts and devices, setting privelege, autehntication of accounts)</li>
                            <li>Searching and viewing of organized data (tabular, graphical or map view)</li>
                            <li>Comparing of data (table, graphical report)</li>
                        </ul>
                        <li>Retrieval of raw data from registered device thru database.</li>
                    </ul>
                </section>
            </div>
        </div>
        <div>
            <img src="/img/home-bg.png" class="home-bg" />
        </div>
    </div>
</template>

<script>
    export default {

        name: 'Home',

        data() {
            return {

            }
        }
    }
</script>

<style lang="css" scoped>
    .header-text {
        color: #6B9942;
    }

    .home-feed {
        border: 1px solid #ebebeb;
        border-radius: 3px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .time {
        padding-top: 5px;
        color: #ebebeb;
    }

    .home-card {
        padding: 10px;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: -1px;
    }

    .page-header {
        padding-bottom: 5px;
    }

    .objective {
        margin-top: 25px;
    }

    .home-bg {
        width: 100%;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    div .home-bg {
        margin-top: -15px;
        position: relative;
        width: 100%;
    }

    .about {
        margin-top: 25px;
    }

    .about p {
        text-align: center;
    }
</style>