<template>
    <div class="col-md-12">
        <div class="page-header">
            <router-link to="/device/maintenance/create">
                <button style="margin-bottom: 5px" class="btn btn-primary pull-right">
                    <i class="glyphicon glyphicon-plus"></i> Add Device</button>
            </router-link>  
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Device</el-breadcrumb-item>
                <el-breadcrumb-item>Search</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="panel panel-default search-panel">
            <form class="form-inline search-form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-phone"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Device Name" v-model="searchCriteria.name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-phone"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Device Username" v-model="searchCriteria.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-leaf"></i>
                        </div>
                        <select class="form-control" v-model="searchCriteria.type">
                            <option disabled selected hidden value>Type</option>
                            <option v-for="option in typeOptions" v-bind:value="option" :key="option.id">{{ option }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-tag"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Mac Address" v-model="searchCriteria.macAddress">
                    </div>
                </div>
                <!-- <div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="glyphicon glyphicon-pushpin"></i></div>
					<input type="text" class="form-control" placeholder="Location" v-model="searchCriteria.location">
				</div>
			  </div> -->

                <div class="form-group search-button pull-right">
                    <button type="submit" class="btn btn-warning" @click.prevent="searchClicked()">
                        <i class="glyphicon glyphicon-search"></i> Search </button>
                    <button type="button" class="btn btn-default" @click.prevent="resetSearch()">
                        <i class="glyphicon glyphicon-repeat"></i> Reset </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- Main Panel -->
        <div class="panel panel-default">
            <el-table v-loading="tableLoading" :data="deviceList" style="width: 100%">
                <el-table-column prop="id" label="ID" width="50px">
                </el-table-column>
                <el-table-column prop="name" label="Name">
                </el-table-column>
                <el-table-column prop="username" label="Username">
                </el-table-column>
                <el-table-column prop="type.name" label="Type" width="100px">
                </el-table-column>
                <el-table-column prop="" label="Icon" width="100px">
                    <template slot-scope="scope">
                        <img :src="'/storage/images/'+ scope.row.type.icon" class="image" width="40px" height="40px" v-if="scope.row.type.icon">
                    </template>
                </el-table-column>
                <el-table-column prop="mac_address" label="Mac Address">
                </el-table-column>
                <el-table-column label="Status" >
                    <template slot-scope="scope">

                        <el-tag :type="scope.row.status == 1 ? 'success' : 'danger' " >
                            {{scope.row.status == 1 ? 'Online' : 'Offline' }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Actions" width="150">
                    <template slot-scope="scope">
                        <router-link :to="{name: 'device.edit', params: { id: scope.row.id }}">
                            <button class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </router-link>
                        <el-popover placement="top" width="160" v-model="scope.row.deletePopover">
                            <p>Are you sure want to delete this?</p>
                            <div style="text-align: right; margin: 0">
                                <button class="btn btn-sm" size="mini" type="text" @click="scope.row.deletePopover = false">cancel</button>
                                <button class="btn btn-danger btn-sm" type="primary" size="mini" @click="scope.row.deletePopover = false; deleteDevice(scope.row.id)">confirm</button>
                            </div>
                            <button slot="reference" class="btn btn-danger btn-sm">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </el-popover>

                        <button class="btn btn-primary btn-sm" @click="openDialog(scope.row.id)">
                            <i class="glyphicon glyphicon-list"></i>
                        </button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background layout="prev, pager, next" :total="totalItems" :page-size="pageSize" :current-page="current_page"
                @current-change="currentChange">
            </el-pagination>
        </div>

        <el-dialog :visible.sync="deviceDataDialog" width="80%" :title="dialogTitle">
            <device-data :deviceId="dialogDeviceId" ref="dialogDeviceData"></device-data>
        </el-dialog>
    </div>
</template>
<script>
    import DialogDeviceData from './DialogDeviceData.vue'

    export default {

        name: 'DeviceSearch',

        data() {
            return {
                searchCriteria: {
                    name: '',
                    username: '',
                    macAddress: '',
                    type: ''
                },
                typeOptions: [],
                deviceList: [],
                buDeviceList:[], 
                totalItems: 20,
                pageSize: 10,
                deviceDataDialog: false,
                dialogDeviceId: 1,
                current_page: 1,
                searching: false,
                tableLoading: true,
                dialogTitle: 'Device Data',
                currentUser: auth.user
            }
        },
        mounted: function () {
            this.getDevices();
            this.getDeviceType();
        },
        methods: {
            searchClicked: function (page) {
                var vm = this;
                vm.deviceList = _.clone(vm.buDeviceList);

                if (this.validateFields(vm.searchCriteria)) {
                    vm.tableLoading = true;
                  
                    
                    var newDeviceList = [];

                    vm.deviceList.forEach(function(data){
                        
                        if(vm.searchCriteria.name && _.lowerCase(data.name).indexOf(_.lowerCase(vm.searchCriteria.name)) == -1) { 
                             return false;
                        }

                        if(vm.searchCriteria.type && _.lowerCase(data.type.name).indexOf(_.lowerCase(vm.searchCriteria.type)) == -1){
                              return false;   
                        }
                        if(vm.searchCriteria.macAddress &&  _.lowerCase(data.mac_address).indexOf(_.lowerCase(vm.searchCriteria.macAddress)) == -1){
                             return false;
                        }
                        if(vm.searchCriteria.username  && _.lowerCase(data.username).indexOf(_.lowerCase(vm.searchCriteria.username)) == -1){
                             return false;
                        }
                        newDeviceList.push(data);
                    });

                    vm.deviceList = newDeviceList;
                     vm.tableLoading = false;
                    // axios.post('/device/search?page=' + page, vm.searchCriteria).then(function (response) {
                    //     if(vm.currentUser.role == 'P1'){
                    //         response.data.data =  vm.filterOrganizationMember(response.data.data);
                    //         response.data.total = response.data.data.length;
                    //     }
                    //     vm.tableLoading = false;
                    //     vm.deviceList = response.data.data;
                    //     vm.totalItems = response.data.total;
                    //     vm.pageSize = response.data.per_page;
                    //     vm.searching = true;
                    // });
                }
            },
            resetSearch: function () {
                var vm = this;
                vm.searchCriteria = {
                    name: '',
                    username: '',
                    macAddress: '',
                    type: ''
                };
                vm.searching = false;
                vm.current_page = 1;
                vm.getDevices(vm.current_page);
            },
            openDialog: function (deviceId) {
                this.deviceDataDialog = true;
                this.dialogDeviceId = deviceId;
                this.dialogTitle = 'Device Data > Device ' + deviceId;
                if (this.$refs.dialogDeviceData) {
                    this.$refs.dialogDeviceData.device_id = deviceId;
                    this.$refs.dialogDeviceData.getDeviceData(1);
                }
            },
            getDevices: function () {
                var vm = this;
                vm.tableLoading = true;
                axios.get('/device').then(function (response) {
                    if(vm.currentUser.role == 'P1'){
                       response.data.data =  vm.filterOrganizationMember(response.data.data);
                       response.data.total = response.data.data.length;
                    }
                     if(vm.currentUser.role == 'P2' || vm.currentUser.role == 'P3'){
                       response.data.data =  vm.filterOwnDevice(response.data.data);
                       response.data.total = response.data.data.length;
                    }
                    vm.deviceList = response.data.data;
                    vm.buDeviceList = _.clone(vm.deviceList);
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                    vm.tableLoading = false;
                });
            },
            filterOwnDevice : function(datas){
                var response= [],
                    vm = this;
                
                datas.forEach(function(data){
                    if(data.owner && data.owner.id == vm.currentUser.id){
                        response.push(data);
                    }
                })

                return response; 
            },
            filterOrganizationMember :function(datas){
                var response= [],
                    vm = this;
                
                datas.forEach(function(data){
                    if(data.owner.organization_member && data.owner.organization_member.organization_id == vm.currentUser.organization_member.organization_id){
                        response.push(data);
                    }
                })

                return response;    

            },
            getDeviceType: function () {
                var vm = this;
                axios.get('/device/getDeviceType').then(function (response) {
                    $.each(response.data, function (index, value) {
                        vm.typeOptions.push(value.name);
                    });
                });
            },
            deleteDevice: function (id) {
                var vm = this;
                vm.tableLoading = true;
                axios.post('/device/delete' , { id:id, currentUser: vm.currentUser}).then(function (response) {
                    vm.tableLoading = false;
                    vm.current_page = 1;
                    vm.getDevices(vm.current_page);
                });
            },
            currentChange: function (val) {
                var vm = this;
                vm.current_page = val;
                if (!vm.searching)
                    vm.getDevices(vm.current_page);
                else
                    vm.searchClicked(vm.current_page);
            },
            validateFields: function (field) {
                var validated = false;
                $.each(field, function (index, value) {
                    if (value != '') {
                        validated = true;
                    }
                });
                return validated;
            },


        },
        components: {
            'device-data': DialogDeviceData
        }
    }
</script>
<style lang="css" scoped>
</style>