<template>
    <div class="col-md-12 remove-float">
        <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Report</el-breadcrumb-item>
                <el-breadcrumb-item>Device Data</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="panel panel-default search-panel">
            <form class="form-inline search-from">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-phone"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Device" v-model="searchCriteria.device">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-leaf"></i>
                        </div>
                        <select class="form-control" v-model="searchCriteria.type">
                            <option disabled selected hidden value>Type</option>
                            <option v-for="option in typeOptions" v-bind:value="option" :key="option.id">{{ option }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-home"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Property" v-model="searchCriteria.property">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-warning-sign"></i>
                        </div>
                        <select class="form-control" v-model="searchCriteria.status">
                            <option disabled selected hidden value>Status</option>
                            <option v-for="option in statusOptions" v-bind:value="option" :key="option.id">{{ option }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group search-button pull-right">
                    <button type="submit" class="btn btn-warning" @click.prevent="searchClicked()">
                        <i class="glyphicon glyphicon-search"></i> Search</button>
                    <button type="button" class="btn btn-default" @click.prevent="resetSearch()">
                        <i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="panel panel-default">
            <el-table v-loading="tableLoading" :data="deviceDataList" style="width: 100%" size="small">
                <el-table-column prop="id" label="ID" width="50px">
                </el-table-column>
                <el-table-column prop="device.name" label="Device">
                </el-table-column>
                <el-table-column prop="device.type.name" label="Type" width="100px">
                </el-table-column>
                <el-table-column prop="property.name" label="Property">
                </el-table-column>
                <el-table-column prop="value" label="Value">
                </el-table-column>
                <el-table-column prop="property.unit" label="Unit" width="50px">
                </el-table-column>
                <el-table-column label="Status" width="100px">
                    <template slot-scope="scope">
                        <el-popover ref="criticalPopover" placement="top-start" trigger="hover" :disabled="scope.row.status == 0">
                            <ul>
                                <li v-for="criticalMessage in scope.row.criticalMessages" :key="criticalMessage.id">
                                    {{ criticalMessage }}
                                </li>
                            </ul>
                        </el-popover>
                        <el-tag :type="scope.row.status == 0 ? 'success' : 'danger' " v-popover:criticalPopover>
                            {{scope.row.status == 0 ? 'Normal' : 'Critical' }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Location">
                    <template slot-scope="scope">
                        {{ scope.row.latitude + ' , ' + scope.row.longitude }}
                    </template>
                </el-table-column>
                <el-table-column prop="date" label="Date">
                </el-table-column>
            </el-table>
            <el-pagination background layout="prev, pager, next" :total="totalItems" :page-size="pageSize" :current-page="current_page"
                @current-change="currentChange">
            </el-pagination>
        </div>
    </div>
</template>
<script>
    export default {

        name: 'DeviceDataSearch',

        data() {
            return {
                searchCriteria: {
                    device: '',
                    property: '',
                    type: '',
                    status: ''
                },
                statusOptions: [
                    'All',
                    'Normal',
                    'Critical',
                ],
                typeOptions: [],
                deviceDataList: [],
                totalItems: 20,
                pageSize: 10,
                current_page: 1,
                searching: false,
                tableLoading: true
            }

        },
        mounted: function () {
            this.getDeviceData(this.current_page);
            this.getDeviceType();
        },
        methods: {
            searchClicked: function (page) {
                var vm = this;
                if (this.validateFields(vm.searchCriteria)) {
                    vm.tableLoading = true;
                    axios.post('/deviceData/search?' + 'page=' + (page == null ? 1 :
                        page), vm.searchCriteria).then(function (response) {
                        vm.deviceDataList = response.data.data;
                        vm.totalItems = response.data.total;
                        vm.pageSize = response.data.per_page;
                        vm.tableLoading = false;
                        vm.searching = true;
                    });
                }
            },
            resetSearch: function () {
                var vm = this;
                vm.searchCriteria = {
                    device: '',
                    property: '',
                    type: '',
                    status: ''
                };
                vm.searching = false;
                vm.current_page = 1;
                vm.getDeviceData(vm.current_page);
            },
            getDeviceData: function (page) {
                var vm = this;
                vm.tableLoading = true;
                axios.get('/deviceData?page=' + page).then(function (response) {
                    vm.deviceDataList = response.data.data;
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                    vm.tableLoading = false;
                });
            },
            getDeviceType: function () {
                var vm = this;
                axios.get('/device/getDeviceType').then(function (response) {
                    $.each(response.data, function (index, value) {
                        vm.typeOptions.push(value.name);
                    });
                });
            },
            currentChange: function (val) {
                var vm = this;
                vm.current_page = val;
                if (!vm.searching)
                    vm.getDeviceData(vm.current_page);
                else
                    vm.searchClicked(vm.current_page);
            },
            validateFields: function (field) {
                var validated = false;
                $.each(field, function (index, value) {
                    if (value != '') {
                        validated = true;
                    }
                });
                return validated;
            }
        }
    }
</script>
<style lang="css" scoped>
</style>