<template>
    <div class="col-md-12">
        <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Device</el-breadcrumb-item>
                <el-breadcrumb-item>Information</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="panel panel-default">
            <el-form :model="device" :rules="deviceRules" ref="device" label-width="120px" v-loading="loading">
                <el-form-item label="Name" prop="name">
                    <el-input v-model="device.name"></el-input>
                </el-form-item>
                <el-form-item label="Username" prop="username">
                    <el-input v-model="device.username" :disabled="isEdit"></el-input>
                </el-form-item>
                <el-form-item label="Mac Address" prop="mac_address">
                    <el-input v-model="device.mac_address" :disabled="isEdit"></el-input>
                </el-form-item>
                <el-form-item label="Description" prop="description">
                    <el-input v-model="device.description"></el-input>
                </el-form-item>
                <el-form-item label="Status" prop="status">
                    <el-radio v-model="device.status" :label="1">Online</el-radio>
                    <el-radio v-model="device.status" :label="0">Offline</el-radio>
                </el-form-item>
                <el-form-item label="Owner" prop="owner" v-if="isOwn">
                    <el-select v-model="device.owner" placeholder="Select" value-key="id" style="width: 100%">
                        <el-option v-for="user in users" :key="user.id" :label="user.firstname + ' ' + user.surname + ' - ' + user.role" :value="user">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-row :span="12">
                    <h3>Type</h3>
                    <el-col :span="12">
                        <el-form-item label="Name" prop="type">
                            <el-autocomplete id="typeName" class="inline-input" style="width: 100%" v-model="device.type.name" :fetch-suggestions="querySearch" @select="handleSelectType" ></el-autocomplete>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Code" prop="code">
                            <el-input v-model="device.type.code" id="code" ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-form-item label="Icon" v-if="device.type.icon">
                        <img :src="imgSrc" class="image" width="100px" height="100px">
                    </el-form-item>
                
                </el-row>
                <el-form-item>
                    <button type="button" class="btn btn-primary pull-right" @click="addProperty()">
                        <i class="glyphicon glyphicon-plus"></i> Add Property</button>
                </el-form-item>
                <h3>Property</h3>
                <el-form-item v-for="(property, index) in device.type.property" :key="property.id">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>
                                <strong>{{property.name}}</strong>
                            </span>
                            <button @click="removePropertyClicked(index, property)" class="btn btn-danger btn-sm" style="float: right" type="button">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <el-autocomplete id="propertyName" class="inline-input" style="width: 100%" v-model="property.name" :fetch-suggestions="querySearch" @select="handleSelectProperty" ></el-autocomplete>
                                        </td>
                                        <td>
                                            <el-input v-model="property.code"></el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="property.unit"></el-input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <el-row :gutter="20">
                                <el-col :span="22" :offset="1">
                                    <el-card class="box-card ">
                                        <div slot="header" class="clearfix">
                                            <span>
                                                <strong>Critical Values</strong>
                                            </span>
                                            <button type="button" @click="addCriticalValue(property)" class="btn btn-primary pull-right btn-sm">
                                                <i class="glyphicon glyphicon-plus"></i> Add Critical Values</button>
                                        </div>
                                        <div>
                                            <table class="table table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>Condition</th>
                                                        <th>First Value</th>
                                                        <th>Second Value</th>
                                                        <th>Description</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(criticalValue, index) in property.critical_value" :key="criticalValue.id">
                                                        <td>
                                                            <el-popover placement="top-start" :title="criticalValue.condition" width="200" trigger="hover" :content="(criticalValue.condition== 'Exact') ? 'within this value is a value critical':(criticalValue.condition== 'Range') ? 'within the min and max values are values critical':(criticalValue.condition== 'Above') ? 'above this value are values critical':'below this value are values critical'">
                                                                <select class="form-control" v-model="criticalValue.condition" slot="reference">
                                                                    <option>Exact</option>
                                                                    <option>Range</option>
                                                                    <option>Above</option>
                                                                    <option>Below</option>
                                                                </select>
                                                            </el-popover>

                                                        </td>
                                                        <td>
                                                            <el-input-number v-model="criticalValue.min_value"></el-input-number>
                                                        </td>
                                                        <td>
                                                            <el-input-number v-model="criticalValue.max_value" :disabled="criticalValue.condition !== 'Range'"></el-input-number>
                                                        </td>
                                                        <td>
                                                            <el-input type="textarea" v-model="criticalValue.description" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger btn-sm" type="button" @click="criticalValueRemoved(index, property)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>
                    <br>
                </el-form-item>
                <el-dialog :visible.sync="uploadIconDialog" width="30%" title="Upload Icon">
                    <div>
                        <el-upload drag action="/device/uploadIcon" list-type="picture" :headers="header" :limit="1" :on-exceed="onExceed" :on-success="onSuccess"
                            :data="{'device' : device.id}">
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">Drop file here or
                                <em>click to upload</em>
                            </div>
                            <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                        </el-upload>
                    </div>
                </el-dialog>
                <div class="form-group search-button pull-right from-button">
                    <button type="button" class="btn btn-primary" @click.prevent="submitForm()"> {{ (device.id) ? 'Update' : 'Save'}}</button>
                    <button type="button" class="btn btn-default" @click="uploadDialog()" v-if="device.id"> Upload Icon</button>
                    <router-link :to="{name: 'device.search'}">
                        <button type="button" class="btn btn-default"> Cancel</button>
                    </router-link>
                </div>
                <div class="clearfix"></div>
            </el-form>
        </div>
    </div>
</template>
<script>
    export default {

        name: 'DeviceForm',

        data() {
            var vm = this;

            var validateUsername = (rule, value, callback) => {
                if(vm.isEdit){
                    callback();
                }
                
                if (value === '' || value === undefined) {
                  callback(new Error('Please input username'));
                }
                else if (!_.isEmpty(value)) {
                    axios.post('/device/checkUsername',{username: value}).then(function(response) {
                        if(!_.isEmpty(response.data)){
                            callback(new Error('Username already exist!'));    
                        }
                        callback();
                    });
                  
                } else {
                  callback();
                }
          };

          
          var validateMacAddress = (rule, value, callback) => {
                if(vm.isEdit){
                    callback();
                }
                if (value === '' || value === undefined) {
                  callback(new Error('Please input mac address'));
                } else if (!_.isEmpty(value)) {
                    axios.post('/device/checkMacAddress',{mac_address : value}).then(function(response) {
                        if(!_.isEmpty(response.data)){
                            callback(new Error('Mac address already exist!'));  
                        }
                        callback();
                    });
                  
                } else {
                  callback();
                }
          };

          var validateTypeCode = (rule, value, callback) => {
                if(vm.isEdit){
                    callback();
                }
              
                if (value === ''|| value === undefined) {
                  callback(new Error('Please input type code'));
                } else if (!_.isEmpty(value)) {
                    axios.post('/device/checkTypeCode',{email : value}).then(function(response) {
                        if(!_.isEmpty(response.data)){
                            callback(new Error('Type code already exist!'));  
                        }
                        callback();
                    });     
                  
                } else {
                  callback();
                }
          };

            return {
                typeFormDialog: false,
                propertyFormDialog: false,
                criticalValueFormDialog: false,
                uploadIconDialog: false,
                header: {},
                device: {
                    id: 0,
                    name: '',
                    mac_address: '',
                    password: '',
                    description: '',
                    owner: {},
                    status: 1,
                    type: {
                        property: []
                    }
                },
                propertIndex: -1,
                typeOptions: [],
                propertyOptions:[],
                users: [],
                imgSrc: '/storage/images',
                loading: true,
                isOwn: false,
                isEdit : false,
                currentUser: auth.user,
                deviceRules: {
                    username: [
                        {validator: validateUsername, trigger: 'blur' ,required: true}
                    ],
                    mac_address: [
                        {validator: validateMacAddress, trigger: 'blur' ,required: true}
                    ]
                },
            };
        },
        mounted: function () {
            if (this.$route.params.id) {
                this.getDevice(this.$route);
                this.isEdit = true;
            }

            if (this.$route.name === 'device.create') {
                this.loading = false;
                this.isOwn = true;
                if(this.currentUser.role != 'Admin'){
                    this.isOwn = false;
                    this.device.owner = this.currentUser;
                }
            }

            if (this.$route.name === 'device.createOwn') {
                this.loading = false;
                this.device.owner = this.currentUser;
            }

            let token = document.head.querySelector('meta[name="csrf-token"]');

            if (token) {
                this.header['X-CSRF-TOKEN'] = token.content;
            }
            this.getAllUsers();
            this.getDeviceType();
            this.getDeviceProperty();
        },
        watch: {
            '$route': 'getDevice'
        },
        methods: {
            getDeviceType: function () {
                var vm = this;
                axios.get('/device/getDeviceType').then(function (response) {
                    $.each(response.data, function (index, value) {
                        vm.typeOptions.push({
                            value: value.name,
                        });
                    });
                });
            },
            getDeviceProperty: function () {
                var vm = this;
                axios.get('/device/getDeviceProperty').then(function (response) {
                    $.each(response.data, function (index, value) {
                        vm.propertyOptions.push({
                            value: value.name,
                        });
                    });
                });
            },
            querySearch(queryString, cb) {
                var selection;
                if($("div#typeName > .el-input > input").is(":focus")){
                    selection = this.typeOptions;
                }else{
                    selection = this.propertyOptions;
                }
                
                if(!queryString){
                    var results = selection;
                }else{
                    var results = selection.filter(this.createFilter(queryString));
                }

                cb(results);
            },
            createFilter(queryString) {
                return (link) => {
                    return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
            handleSelectType(item) {
                this.device.type.code = item.value +"-"+moment().format("YYYYMMDDHHMMSS");
            },
            handleSelectProperty(item) {
                this.device.type.property[this.propertIndex].code = item.value +"-"+moment().format("YYYYMMDDHHMMSS");
            },
            criticalValueRemoved: function (index, property) {
                var vm = this;

                property.critical_value.splice(index)
            },
            removePropertyClicked: function (index, property) {
                this.propertIndex -=1;
                var vm = this;
                if (property.id) {
                    axios.get('/deviceData/property/' + property.id).then(function (response) {
                        if (response.data.length == 0) {
                            vm.device.type.property.splice(index);
                        } else {
                            vm.$alert(
                                'You cannot delete because there is already a device data on this property',
                                'Error', {
                                    confirmButtonText: 'OK',
                                    callback: action => {

                                    }
                                });
                        }
                    });
                    return;
                }
                this.device.type.property.splice(index);
            },

            onExceed: function () {
                var vm = this;
                vm.$alert('Please remove the first uploaded file first', 'Limit', {
                    confirmButtonText: 'OK',
                    callback: action => {

                    }
                });

            },
            onSuccess: function () {
                var vm = this;
                vm.$alert('Icon uploaded successfully', 'Upload Success', {
                    confirmButtonText: 'OK',
                    callback: action => {
                        vm.getDevice(vm.$route);
                    }
                });

            },
            uploadDialog: function () {
                this.uploadIconDialog = true;
            },
            addProperty: function () {
                this.propertIndex +=1;
                var property = {
                    code: '',
                    name: '',
                    unit: '',
                    critical_value: []
                };
                this.device.type.property.push(property);
            },
            addCriticalValue: function (property) {
                var critical = {
                    condition: 'Exact',
                    min_value: 0,
                    max_value: 0,
                    description: ''
                }
                property.critical_value.push(critical);
            },
            getDevice: function (route) {
                var vm = this;
                var id = route.params.id

                axios.get('/device/' + id).then(function (response) {

                    vm.device = response.data;
                    vm.loading = false;
                    vm.imgSrc = '/storage/images/' + response.data.type.icon;
                });
            },
            getAllUsers: function () {
                var vm = this;

                axios.get('/user/getAllUsers').then(function (response) {
                    vm.users = response.data;
                });
            },

            submitForm() {
                var vm = this;
                vm.loading = true;
                this.$refs.device.validate((valid) => {
                    if (!valid) {
                        return false;
                    }

                    if (vm.device.id) {
                        axios.put('/device/' + vm.device.id, {
                            device: vm.device,
                            currentUser: vm.currentUser
                        }).then(function (response) {
                            vm.loading = false;
                            vm.$alert('Device updated successfully', 'Success', {
                                confirmButtonText: 'OK',
                                callback: action => {
                                    vm.$router.push({
                                        name: 'device.edit',
                                        params: {
                                            id: response.data.device.id
                                        }
                                    });
                                }
                            });
                        }).catch(function(response) {
                            vm.loading = false;
                            
                        });
                    } else {
                        //create
                        axios.post('/device', {
                            device: vm.device,
                            currentUser: vm.currentUser
                        }).then(function (response) {
                            vm.loading = false;
                            vm.$alert('Device created successfully', 'Success', {
                                confirmButtonText: 'OK',
                                callback: action => {
                                    
                                    vm.$router.go({
                                        name: 'device.edit',
                                        params: {
                                            id: response.data.device.id
                                        }
                                    });
                                }
                            });
                        }).catch(function(response) {
                            console.error(response);
                            vm.loading = false;
                            
                        });

                    }

                });
            }
        }

    }
</script>
<style lang="css" scoped>
    .el-card__body .criticalValue {
        background-color: #e1f9f9 !important;
    }
</style>