<template>
    <div class="panel panel-default">
        <nav class="navbar navbar-default navbar-static-top" v-if="$route.name != 'login' && $route.name != 'user.signup' && $route.name != 'user.requestResetPassword' && $route.name != 'user.resetPassword'">
            <div class="container-fluid">
                <div class="navbar-logo">
                    <router-link :to="{name: 'home'}">
                        <img src="/img/logo.png" />
                    </router-link>
                </div>

                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <!-- <router-link to="form">
                        <a class="navbar-brand">
                            MHI
                        </a>
                     </router-link> -->
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        <li>
                            <router-link :to="{ name: 'home'}">
                                Home
                            </router-link>
                        </li>

                        <li v-if="user.role == 'Admin' || user.role == 'P1'">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Account
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <router-link :to="{ name: 'user.search'}">
                                        Users
                                    </router-link>
                                </li>
                                <li v-if="user.role == 'Admin'">
                                    <router-link :to="{ name: 'user.approval'}">
                                        User Approval
                                    </router-link>
                                </li>
                                <li v-if="user.role == 'Admin'">
                                    <router-link :to="{ name: 'user.logs'}">
                                        User Logs
                                    </router-link>
                                </li>

                            </ul>
                        </li>
                        <li v-if="user.role != 'P3'  ">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Organization
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li v-if="user.role == 'Admin'">
                                    <router-link :to="{ name: 'organization.search'}">
                                        Search
                                    </router-link>
                                </li>
                                <li v-if="user.role != 'P3' && user.role != 'P2'">
                                    <router-link :to="{ name: 'organization.approval'}">
                                        Approval
                                    </router-link>
                                </li>
                                <li v-if="user.role != 'Admin'  && user.organization_member">
                                    <router-link :to="{ name: 'organization.edit', params: { id: user.organization_member.organization_id }}">
                                        My Organization
                                    </router-link>
                                </li>

                            </ul>
                        </li>
                        <li>

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Device
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li >
                                    <router-link :to="{ name: 'device.search'}">
                                        Device Search
                                    </router-link>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Reports
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <router-link :to="{ name: 'report.map'}">
                                        Maps
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="{ name: 'report.graph'}">
                                        Graph
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="{ name: 'device.data'}">
                                        Data
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="{ name: 'device.archive'}">
                                        Archive
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a href="/#about">About</a>
                        </li> -->
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                                <span v-if="authenticated && user">Hi , {{ (user.role=="Admin")? user.role:user.firstname + " " + user.surname + " - " + user.role }} {{(user.role == 'P1') ? 'Sub-Admin' : (user.role == 'P2') ? 'Device Owner' : (user.role == 'P3')? 'Guest': ''}}</span>
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li>

                                    <a href="/user/maintenance/editProfile" v-if="user.role != 'Admin'">
                                        Edit Profile
                                    </a>

                                    <a href="#" onclick="auth.logout();location.reload()">
                                        Logout
                                    </a>

                                    <form id="logout-form" action="#" method="POST" style="display: none;">

                                    </form>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="panel-body">
            <div class="container">
                <router-view></router-view>
            </div>

        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data() {
            return {
                authenticated: auth.check(),
                user: auth.user
            }
        },
        mounted: function () {
            var vm = this;
            Event.$on('userLoggedIn', function () {
                vm.authenticated = true;
                vm.user = auth.user;
                vm.$router.push({
                    name: 'home'
                });
            });
        }
    }
</script>
<style lang="css" scoped>
    .navbar-logo>a>img {
        width: 300px !important;
    }
</style>