<template>
	<div class="center">
        <el-card class="box-card login-card">
            <div class="login-logo">
                <img src="/img/logo-dark.png" />
            </div>
            <center>
           <h1><strong>YOU JUST GOT 404'D</strong></h1>
            <h3><strong>PAGE NOT FOUND!</strong></h3>
            </center>
        </el-card>
    </div>
	
</template>

<script>
export default {

  name: 'notfoundexception',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>