<template>
    <div class="col-md-12">
        <div class="page-header">
            <button style="margin-bottom: 5px" class="btn btn-primary pull-right"  @click="compareDialog = true">
                    <i class="glyphicon glyphicon-resize-small"></i> Compare Graph</button>
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Report</el-breadcrumb-item>
                <el-breadcrumb-item>Graph</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
       <div class="panel panel-default search-panel">
            <form class="form-inline search-from">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-phone"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Device" v-model="searchCriteria.name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-leaf"></i>
                        </div>
                        <select class="form-control" v-model="searchCriteria.type">
                            <option disabled selected hidden value>Type</option>
                            <option v-for="option in typeOptions" v-bind:value="option" :key="option.id">{{ option }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group search-button pull-right">
                    <button type="submit" class="btn btn-warning" @click.prevent="searchClicked()">
                        <i class="glyphicon glyphicon-search"></i> Search</button>
                    <button type="button" class="btn btn-default" @click.prevent="resetSearch()">
                        <i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
                <div class="clearfix"></div>
            </form>
   

                    <el-table :data="devices" style="width: 100%" v-loading="tableLoading">
                <el-table-column type="expand">
                    <template slot-scope="scope">
                        <div class="col-md-12">
                            <el-table :data="scope.row.deviceData" style="width: 100%" size="small">
                                <el-table-column prop="id" label="Id">
                                </el-table-column>
                                <el-table-column prop="property.name" label="Property" width="300">
                                </el-table-column>
                                <el-table-column prop="value" label="Value">
                                </el-table-column>
                                <el-table-column prop="property.unit" label="Unit">
                                </el-table-column>
                                <el-table-column label="Status">
                                    <template slot-scope="scope">
                                        <el-popover ref="criticalPopover" placement="top-start" trigger="hover" :disabled="scope.row.status == 0">
                                            <ul>
                                                <li v-for="criticalMessage in scope.row.criticalMessages" :key="criticalMessage.id"> 
                                                    {{ criticalMessage }}
                                                </li>
                                            </ul>
                                        </el-popover>
                                        <el-tag :type="scope.row.status == 0 ? 'success' : 'danger' " v-popover:criticalPopover>
                                            {{scope.row.status == 0 ? 'Normal' : 'Critical' }}
                                        </el-tag>
                                    </template>
                                </el-table-column>
                                <el-table-column label="Location" width="200">
                                    <template slot-scope="scope">
                                        {{ scope.row.latitude + ' , ' + scope.row.longitude }}
                                    </template>
                                </el-table-column>
                                <el-table-column prop="date" label="Date" width="200">
                                </el-table-column>
                            </el-table>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column label="Device" prop="name">
                </el-table-column>
                <el-table-column label="Type" prop="type.name">
                </el-table-column>
                <el-table-column label="Graph" width="150">
                    <template slot-scope="scope">
                        <button class="btn btn-primary btn-sm" @click="openDialog(scope.row)">
                            <i class="glyphicon glyphicon-th"></i>
                        </button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-dialog
            title="Compare device graph"
            :visible.sync="compareDialog"
            width="38%"
            >
            <span>
                <el-select v-model="firstSelectedDevice" placeholder="Select">
                    <el-option-group
                    v-for="group in devicesOptions"
                    :key="group.label"
                    :label="group.label">
                    <el-option
                        v-for="item in group.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                    </el-option-group>
                </el-select>
                -
                <el-select  v-model="secondSelectedDevice" placeholder="Select">
                    <el-option-group
                    v-for="group in devicesOptions"
                    :key="group.label"
                    :label="group.label">
                    <el-option
                        v-for="item in group.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                    </el-option-group>
                </el-select>

            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="compareDialog = false">Cancel</el-button>
                <el-button type="primary" @click="confirmButtonClicked()">Confirm</el-button>
            </span>
        </el-dialog>


        <el-dialog :visible.sync="graphDataDialog" width="80%" :title="dialogTitle">
            <el-collapse v-model="activeNames">
                <el-collapse-item name="1">
                    <template slot="title">
                        <h3>
                            <i class="glyphicon glyphicon-filter"></i>Filters</h3>
                    </template>
                    <div>
                        <el-col :span="3" :offset="1">
                            <el-card class="box-card">
                                <div slot="header">
                                    <strong>
                                        <span>Time</span>
                                    </strong>
                                </div>
                                <el-radio-group v-model="radio" @change="radioChange()">
                                    <el-radio :label="1">Hour</el-radio>
                                    <br>
                                    <el-radio :label="2">Day</el-radio>
                                    <br>
                                    <el-radio :label="3">Months</el-radio>
                                    <br>
                                    <el-radio :label="4">Quarter</el-radio>
                                    <br>
                                    <el-radio :label="5">Year</el-radio>
                                    <br>
                                </el-radio-group>
                            </el-card>
                        </el-col>
                        <el-col :span="7" :offset="1">
                            <el-card>
                                <div slot="header">
                                    <strong>
                                        <span>Display</span>
                                    </strong>
                                </div>
                                <el-checkbox-group v-model="displayCheckList" @change="displayCheckBoxChange">
                                    <el-checkbox label="Critical Value Line"></el-checkbox>
                                    <br>
                                    <el-checkbox label="Critical Value Label"></el-checkbox>
                                    <br>
                                    <el-checkbox label="Maintain Aspect Ratio"></el-checkbox>
                                    <br>
                                </el-checkbox-group>
                            </el-card>
                        </el-col>
                        <el-col :span="10" :offset="1">
                            <el-row>
                                <el-card>
                                    <div slot="header">
                                        <strong>
                                            <span>Date Time Range</span>
                                        </strong>
                                    </div>
                                    <el-date-picker v-model="datePicker" type="datetimerange" align="right" start-placeholder="Start Date" end-placeholder="End Date"
                                        @change="dateChange">
                                    </el-date-picker>
                                </el-card>
                            </el-row>
                            <el-row>

                            </el-row>

                        </el-col>
                    </div>
                    <br>
                </el-collapse-item>
            </el-collapse>
            <div v-if="charts">
                <div class="row" v-for="chart in charts" :key="chart.code">
                    <div class="col-sm-12">
                        <line-chart ref="chart" :data="chart.datacollection" :options="chart.options" :height="300"></line-chart>

                    </div>
                    <!--  <div class="col-sm-2">
                         <el-card>
                            <div slot="header">
                                <strong><span>Axis Value</span></strong>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-arrow-up"></i></div>
                                    <input type="text" class="form-control" placeholder="X Axis" v-model="chart.device">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></div>
                                    <input type="text" class="form-control" placeholder="Y Axis" v-model="chart.device">
                                </div>
                            </div>
                         </el-card>
                    </div> -->


                </div>

                <button class="btn btn-primary btn-sm" @click="exportPDF" v-if="charts.length > 0">
                    <i class="glyphicon glyphicon-th"></i> Export to PDF
                </button>
            </div>
            <div v-if="charts.length === 0">
                <center>
                    <h1>No Data</h1>
                </center>
            </div>
        </el-dialog>
        <img id='headerImg' src='/img/logo-dark.png' style='display:none' />
    </div>
</template>
<script>
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;
import LineChart from "./LineChart.vue";
import chartjsPluginAnnotation from "chartjs-plugin-annotation";

export default {
  name: "Graph",

  data() {
    return {
      activeNames: ["1"],
      uniquePropertyCodes: [],
      radio: 3,
      displayCheckList: [],
      searchCriteria: {
        device: "",
        property: "",
        type: ""
      },
      typeOptions: [],
      secondSelectedDevice: "",
      firstSelectedDevice: "",
      selectedDevice: {},
      datePicker: "",
      tableLoading: true,
      devices: [],
      buDevices: [],
      dialogTitle: "Graph",
      graphDataDialog: false,
      compareDialog: false,
      charts: [],
      devicesOptions: []
    };
  },
  mounted: function() {
    this.getDevice();
    this.getDeviceType();
  },
  methods: {
    getDeviceType: function() {
      var vm = this;
      axios.get("/device/getDeviceType").then(function(response) {
        $.each(response.data, function(index, value) {
          vm.typeOptions.push(value.name);
        });
      });
    },

    searchClicked: function(page) {
      var vm = this;
      vm.devices = _.clone(vm.buDevices);

      vm.tableLoading = true;

      var newDevices = [];

      vm.devices.forEach(function(data) {
        if (
          vm.searchCriteria.name &&
          _.lowerCase(data.name).indexOf(_.lowerCase(vm.searchCriteria.name)) ==
            -1
        ) {
          return false;
        }

        if (
          vm.searchCriteria.type &&
          _.lowerCase(data.type.name).indexOf(
            _.lowerCase(vm.searchCriteria.type)
          ) == -1
        ) {
          return false;
        }
        newDevices.push(data);
      });

      vm.devices = newDevices;
      vm.tableLoading = false;
    },
    resetSearch: function() {
      var vm = this;
      vm.searchCriteria = {
        type: "",
        device: ""
      };
      vm.searching = false;
      vm.current_page = 1;
      vm.devices = _.clone(vm.buDevices);
    },
    dateChange: function(date) {
      var newData = [];

      if (date) {
        this.selectedDevice.deviceData.forEach(function(data) {
          if (
            new Date(data.date) >= date[0] &&
            new Date(data.date) <= new Date(date[1])
          ) {
            newData.push(data);
          }
        });
      }

      this.$refs.chart.forEach(function(chart) {
        chart.destroy();
      });

      date ? this.map(newData) : this.map(this.selectedDevice.deviceData);

      this.$refs.chart.forEach(function(chart) {
        chart.reRenderChart();
      });

      // this.updateCharts();
    },
    updateCharts: function() {
      this.$refs.chart.forEach(function(chart) {
        chart.update();
      });
    },
    displayCheckBoxChange: function(checkbox) {
      if (checkbox.indexOf("Maintain Aspect Ratio") != -1) {
        this.charts.forEach(function(chart) {
          chart.options.maintainAspectRatio = true;
        });
      } else {
        this.charts.forEach(function(chart) {
          chart.options.maintainAspectRatio = false;
        });
      }

      if (checkbox.indexOf("Critical Value Line") != -1) {
        this.charts.forEach(function(chart) {
          chart.options.annotation.annotations.forEach(function(annotation) {
            annotation.type = "line";
          });
        });
      } else {
        this.charts.forEach(function(chart) {
          chart.options.annotation.annotations.forEach(function(annotation) {
            annotation.type = "";
          });
        });
      }

      if (checkbox.indexOf("Critical Value Label") != -1) {
        this.charts.forEach(function(chart) {
          chart.options.annotation.annotations.forEach(function(annotation) {
            annotation.label.enabled = true;
          });
        });
      } else {
        this.charts.forEach(function(chart) {
          chart.options.annotation.annotations.forEach(function(annotation) {
            annotation.label.enabled = false;
          });
        });
      }

      this.updateCharts();
    },
    toDataURL: function(imgID) {
      var imgToExport = document.getElementById(imgID);
      var canvas = document.createElement("canvas");
      canvas.width = imgToExport.width;
      canvas.height = imgToExport.height;
      canvas.getContext("2d").drawImage(imgToExport, 0, 0);

      return canvas.toDataURL("image/png");
    },
    extractDeviceData(deviceId, propId) {
      var deviceDatas = [];
      _.each(this.devices, function(device) {
        if (device.id == deviceId) {
          console.log(deviceId);
          _.each(device.deviceData, function(data) {
            if (data.property.id == propId) {
              data.property.name = device.name + " - " + data.property.name;
              deviceDatas.push(data);
            }
          });
          return false;
        }
      });

      return deviceDatas;
    },
    confirmButtonClicked: function() {
      if (this.firstSelectedDevice == this.secondSelectedDevice) {
        this.$alert("Cannot compare same device and property", "Error", {
          confirmButtonText: "OK"
        });
        return;
      }
      var firstDeviceId = this.firstSelectedDevice.split("-")[0],
        firstPropId = this.firstSelectedDevice.split("-")[1];

      var secondDeviceId = this.secondSelectedDevice.split("-")[0],
        secondPropId = this.secondSelectedDevice.split("-")[1];

      var device = {
        title: "Device " + firstDeviceId + " and Device " + secondDeviceId,
        deviceData: []
      };
      device.deviceData = device.deviceData.concat(
        this.extractDeviceData(firstDeviceId, firstPropId)
      );
      device.deviceData = device.deviceData.concat(
        this.extractDeviceData(secondDeviceId, secondPropId)
      );

      this.compareDialog = false;
      this.graphDataDialog = true;

      this.dialogTitle = "Compare > " + device.title;
      this.selectedDevice = device;
      this.radio = 3;
      this.datePicker = "";
      this.displayCheckList = ["Critical Value Line", "Critical Value Label"];
      this.map(device.deviceData);
    },
    exportPDF: function() {
      var headerImg = this.toDataURL("headerImg");
      var content = [];
      var charts = [];

      var header = {
        margin: [0, 15],
        image: headerImg,
        width: 250,
        alignment: "center"
      };

      var footer = [
        {
          text: "",
          margin: [0, 5]
        },
        {
          text:
            "Karlo Roel Inting | Dayle Igno | Denzel Pituc | Veronica Gubatan",
          alignment: "center"
        },
        {
          text:
            "3 Humabon, Makati, 1232 Kalakhang Maynila | 909-9009 or 0999999999 |",
          alignment: "center"
        },
        {
          text:
            "www.metropolitanhealthindicator.com | mhi@gmail.com | www.facebook.com/mhi",
          alignment: "center",
          style: "links"
        }
      ];

      this.$refs.chart.forEach(function(chart) {
        charts.push({
          image: chart.$refs.canvas.toDataURL(),
          width: 525
        });
      });
      content = content.concat(charts);
      var contentTable = {
        style: "tableHeader",
        table: {
          headerRows: 1,
          body: [
            [
              { text: "Id", style: "tableHeader" },
              { text: "Device", style: "tableHeader" },
              { text: "Type", style: "tableHeader" },
              { text: "Property", style: "tableHeader" },
              { text: "Value", style: "tableHeader" },
              { text: "Unit", style: "tableHeader" },

              { text: "Location", style: "tableHeader" },
              { text: "Date", style: "tableHeader" }
            ]
          ]
        },
        layout: "lightHorizontalLines"
      };
      var sortedDeviceData = _.sortBy(this.charts.deviceData, [
        "device.name",
        "device.type.name",
        "property.name"
      ]);

      sortedDeviceData.forEach(function(deviceData) {
        console.log(deviceData);
        var deviceDataArray = [];
        deviceDataArray.push({ text: deviceData.id, style: "tableBody" });
        deviceDataArray.push({
          text: deviceData.device.name,
          style: "tableBody"
        });
        deviceDataArray.push({
          text: deviceData.device.type.name,
          style: "tableBody"
        });
        deviceDataArray.push({
          text: deviceData.property.name,
          style: "tableBody"
        });
        deviceDataArray.push({ text: deviceData.value, style: "tableBody" });
        deviceDataArray.push({
          text: deviceData.property.unit,
          style: "tableBody"
        });

        deviceDataArray.push({
          text: deviceData.latitude + "," + deviceData.longitude,
          style: "tableBody"
        });
        deviceDataArray.push({ text: deviceData.date, style: "tableBody" });

        contentTable.table.body.push(deviceDataArray);
      });
      content = content.concat(contentTable);
      var docDefinition = {
        pageMargins: [40, 100, 40, 70],
        pageSize: "LETTER",
        header: [
          header,
          {
            canvas: [
              {
                type: "line",
                x1: 40,
                y1: 5,
                x2: 575,
                y2: 5,
                lineWidth: 0.5,
                color: "#8FBC39"
              }
            ]
          }
        ],
        content: content,
        footer: [
          {
            canvas: [
              {
                type: "line",
                x1: 40,
                y1: 5,
                x2: 575,
                y2: 5,
                lineWidth: 0.5,
                color: "#8FBC39"
              }
            ]
          },
          footer
        ],
        styles: {
          links: {
            color: "#2196F3"
          },
          tableHeader: {
            bold: true,
            fontSize: 12,
            color: "black"
          },
          tableBody: {
            fontSize: 10,
            bold: false
          }
        }
      };
      pdfMake.createPdf(docDefinition).open();
    },
    radioChange: function() {
      if (this.radio == 1) {
        this.charts.forEach(function(chart) {
          chart.options.scales.xAxes[0].time.unit = "hour";
        });
      }

      if (this.radio == 2) {
        this.charts.forEach(function(chart) {
          chart.options.scales.xAxes[0].time.unit = "day";
        });
      }

      if (this.radio == 3) {
        this.charts.forEach(function(chart) {
          chart.options.scales.xAxes[0].time.unit = "month";
        });
      }

      if (this.radio == 4) {
        this.charts.forEach(function(chart) {
          chart.options.scales.xAxes[0].time.unit = "quarter";
        });
      }

      if (this.radio == 5) {
        this.charts.forEach(function(chart) {
          chart.options.scales.xAxes[0].time.unit = "year";
        });
      }
      this.updateCharts();
    },
    mapOptions: function(data) {
      // var uniqueCriticalValues = [...new Set(data.map(item => item.property.critical_value))];
      // var minDataValue = _.min(uniqueValues),
      //     maxDataValue = _.max(uniqueValues);

      var options = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              display: true,
              ticks: {
                suggestedMin: 0
              }
            }
          ],
          xAxes: [
            {
              type: "time",
              time: {
                unit: "month"
              }
            }
          ]
        },
        annotation: {
          annotations: []
        }
      };

      data.property.critical_value.forEach(function(criticalValue) {
        var annotation = {
          type: "line",
          mode: "horizontal",
          scaleID: "y-axis-0",
          value: criticalValue.min_value,
          borderColor: "red",
          borderWidth: 1,
          label: {
            content:
              criticalValue.description +
              " " +
              criticalValue.condition +
              " " +
              criticalValue.min_value,
            enabled: true
          }
        };

        options.annotation.annotations.push(annotation);

        if (criticalValue.condition === "Range") {
          var annotation = {
            type: "line",
            mode: "horizontal",
            scaleID: "y-axis-0",
            value: criticalValue.max_value,
            borderColor: "red",
            borderWidth: 1,
            label: {
              content:
                criticalValue.description +
                " " +
                criticalValue.condition +
                " " +
                criticalValue.max_value,
              enabled: true
            }
          };

          options.annotation.annotations.push(annotation);
        }
      });
      return options;
    },
    map: function(deviceData) {
      this.charts = [];
      var vm = this;
      var uniquePropertyCodes = [
        ...new Set(deviceData.map(item => item.property.code))
      ];

      var valueData = [];

      _.each(uniquePropertyCodes, function(code) {
        var chart = {
            code: code,
            options: {},
            datacollection: {
              datasets: []
            }
          },
          set = [];

        //GET ALL THE DETAILS OF THE CODE
        var dataset = {};
        _.each(deviceData, function(data) {
          if (data.property.code === code) {
            if (dataset) {
              dataset = {
                label: data.property.name,
                backgroundColor: "#f87979",
                fill: false,
                borderColor: "blue",
                data: [],
                lineTension: 0
              };

              //OPTIONS
              chart.options = vm.mapOptions(data);
            }

            set.push({
              x: data.date,
              y: data.value
            });
            valueData.push(data.value);
          }
        });
        dataset.data = set;
        chart.datacollection.datasets.push(dataset);

        var minDataValue = _.min(valueData),
          maxDataValue = _.max(valueData);
        vm.charts.push(chart);
      });
      if (!_.isEmpty(deviceData)) {
        vm.charts.deviceData = deviceData;
      }

      //  var set = [];
      // var dataSets = {};
      // this.uniquePropertyCodes = [];

      // vm.datacollection.datasets = [{
      //     label: 'Dissolved Oxygen',
      //     backgroundColor: '#f87979',
      //     // fill: false,
      //     data: set
      // }]
    },
    getDevice: function() {
      var vm = this;
      axios.get("/deviceData/getAllDeviceData").then(function(response) {
        vm.devices = vm.criticalCheck(response.data);
        vm.buDevices = _.clone(vm.devices);
        vm.devicesOptions = vm.mapDeviceOptions(response.data);
        vm.tableLoading = false;
      });
    },
    mapDeviceOptions: function(datas) {
      var options = [];
      _.each(datas, function(data) {
        var element = {
          label: data.name,
          options: []
        };

        data.type.property.forEach(function(prop) {
          var option = {
            value: data.id + "-" + prop.id,
            label: prop.name
          };
          element.options.push(option);
        });

        options.push(element);
      });

      return options;
    },
    openDialog: function(device) {
      this.graphDataDialog = true;
      this.dialogTitle = "Graph > Device " + device.id;
      this.selectedDevice = device;
      this.radio = 3;
      this.datePicker = "";
      this.displayCheckList = ["Critical Value Line", "Critical Value Label"];
      this.map(device.deviceData);
    },
    criticalCheck: function(datas) {
      var list = datas;
      _.each(list, function(deviceDatas) {
        _.each(deviceDatas.deviceData, function(data) {
          var criticalValues = data.property.critical_value,
            value = data.value,
            criticalMessages = [];

          _.each(criticalValues, function(criticalValue) {
            switch (criticalValue.condition) {
              case "Exact":
                if (criticalValue.min_value == value) {
                  criticalMessages.push(criticalValue.description);
                }
                break;
              case "Range":
                if (
                  criticalValue.min_value <= value &&
                  criticalValue.max_value >= value
                ) {
                  criticalMessages.push(criticalValue.description);
                }
                break;

              case "Above":
                if (criticalValue.min_value <= value) {
                  criticalMessages.push(criticalValue.description);
                }
                break;
              case "Below":
                if (criticalValue.min_value >= value) {
                  criticalMessages.push(criticalValue.description);
                }
                break;
            }
          });

          data.criticalMessages = criticalMessages;
          data.status = 0;
          if (!_.isEmpty(criticalMessages)) {
            data.status = 1;
          }
        });
      });

      return list;
    }
  },
  components: {
    "line-chart": LineChart
  }
};
</script>
<style lang="css" scoped>
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}
</style>