<script>
import { Line } from 'vue-chartjs'


export default {

  name: 'LineChart',
  extends: Line,
  props: ['data','options'],
  mounted () {
    this.renderChart(this.data, this.options)
  },
  methods : {
  	update: function(){
  		this.$data._chart.destroy()
  		this.renderChart(this.data, this.options);
  	},
  	destroy: function(){
  		this.$data._chart.destroy();
  	},
  	reRenderChart : function(){
  		this.renderChart(this.data, this.options);	
  	}
  }
}
</script>

<style lang="css" scoped>
</style>