<template>
    <div class="col-md-12">
        <div class="page-header">
                <el-breadcrumb separator=">" style="font-size: 30px;">
                    <el-breadcrumb-item>Report</el-breadcrumb-item>
                    <el-breadcrumb-item>Map</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        <div class="col-md-6">
            <br>
            <div class="panel panel-default search-panel ">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-pushpin"></i></div>
                        <gmap-autocomplete placeholder="Search place" :selectFirstOnEnter="true" class="form-control" style="width: 500px" @place_changed="placeChange" />
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <el-row>
                    <gmap-map ref="mapRef" :center="center" :zoom="zoom" style="width: 540px; height: 500px">
                        <gmap-marker :key="indexMarker" v-for="(m, indexMarker) in markers" :position="m.position" :clickable="true" @click="markerClicked(m)"  :icon="m.icon" :title="m.title"></gmap-marker>
                        <gmap-circle :key="c.id" v-for="c in circles" :center="c.center" :options="c.options"></gmap-circle>
                        <gmap-info-window :options="{maxWidth: 300}" :position="infoWindow.position" :opened="infoWindow.open" @closeclick="infoWindow.open=false">
                            <div v-html="infoWindow.template"></div>
                        </gmap-info-window>
                    </gmap-map>
                </el-row>
            </div>
        </div>
        <div class="col-md-6" v-loading="loading">
            <h3>Devices</h3>
             <el-table :data="deviceList" style="width: 100%" @row-dblclick="devicesRowClicked" >
                <el-table-column prop="name" label="Name" >
                </el-table-column>
                <el-table-column prop="type.name" label="Type" >
                </el-table-column>
                <el-table-column prop="" label="Icon">
                    <template slot-scope="scope" >
                        <img :src="'/storage/images/'+ scope.row.type.icon" class="image" width="40px" height="40px"  v-if="scope.row.type.icon">
                    </template>
                </el-table-column>
                <el-table-column prop="mac_address" label="Mac Address">
                </el-table-column>
               <el-table-column label="" width = "50">
                    <template slot-scope="scope">
                        <button class="btn btn-primary btn-sm" @click="openDialog(scope.row.id)">
                            <i class="glyphicon glyphicon-list"></i>
                        </button>
                    </template>
                </el-table-column>
                
            </el-table>
        </div>
        <el-dialog :visible.sync="deviceDataDialog" width="80%" :title="dialogTitle">
            <device-data :deviceId = "dialogDeviceId" ref="dialogDeviceData"></device-data>
        </el-dialog>
    </div>
</template>
<script>
import DialogDeviceData from "../device/DialogDeviceData.vue";

export default {
  name: "Map",

  data() {
    return {
      center: {
        lat: 14.612612,
        lng: 120.981686
      },
      infoWindow: {
        position: {
          lat: 0,
          lng: 0
        },
        open: false,
        template: ""
      },
      circles: [],
      markers: [],
      zoom: 8,
      locationSearchBar: "",
      deviceList: [],
      deviceDataDialog: false,
      dialogDeviceId: 1,
      dialogTitle: "Device Data",
      loading: true
    };
  },
  mounted: function() {
    this.getDevice();
  },
  methods: {
    isInactive: function(latestDataDate) {
      var dt1 = new Date(latestDataDate);
      var dt2 = new Date();
      var diffDays = Math.floor(
        (Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) -
          Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate())) /
          (1000 * 60 * 60 * 24)
      );

      return diffDays >= 1 ? true : false;
    },
    placeChange: function(location) {
      this.center = location.geometry.location;
      this.zoom = 15;

      // this.$refs.mapRef.$mapPromise.then((map) => {
      //   console.log(map);
      // });
    },
    openDialog: function(deviceId) {
      this.deviceDataDialog = true;
      this.dialogDeviceId = deviceId;
      this.dialogTitle = "Device Data > Device " + deviceId;
      if (this.$refs.dialogDeviceData) {
        this.$refs.dialogDeviceData.device_id = deviceId;
        this.$refs.dialogDeviceData.getDeviceData(1);
      }
    },
    markerClicked: function(data) {
      this.infoWindow.template = this.setTemplate(data.device);
      this.infoWindow.position = data.position;
      this.infoWindow.open = true;

      console.log(data.device);
    },

    devicesRowClicked: function(row) {
      this.center = {
        lat: parseFloat(row.location.latitude),
        lng: parseFloat(row.location.longitude)
      };
      this.zoom = 13;
      // console.log(row);
    },
    setTemplate: function(device) {
      var status = this.isInactive(device.location.created_at)
        ? "InActive"
        : "Active";

      return (
        "<b>Device Id</b> : " +
        device.id +
        "<br>" +
        "<b>Device Name</b> : " +
        device.name +
        "<br>" +
        "<b>Device Username</b> : " +
        device.username +
        "<br>" +
        "<b>Device Type</b> : " +
        device.type.name +
        "<br>" +
        "<b>Device Status</b> : " +
        status +
        "<br>" +
        "<b>Device Owner</b> : " +
        device.owner.firstname +
        " " +
        device.owner.surname +
        "<br>"
      );
    },

    getDevice: function(page) {
      var vm = this;
      axios.get("/map").then(function(response) {
        // vm.deviceList = response.data;
        vm.loading = false;
        vm.setMarkers(response.data);
      });
    },
    setMarkers: function(datas) {
      var markers = [],
        circles = [],
        vm = this;

      _.each(datas, function(data) {
        if (!_.isEmpty(data.location) && data.status) {
          var marker = {
            position: {
              lat: parseFloat(data.location.latitude),
              lng: parseFloat(data.location.longitude)
            },
            title: data.name,
            label: data.name,
            icon: {
              url: "/storage/images/" + data.type.icon
            },
            device: data
          };
          var circle = {
            center: {
              lat: parseFloat(data.location.latitude),
              lng: parseFloat(data.location.longitude)
            },
            options: {
              strokeColor: "#FF0000",
              strokeWeight: 4,
              fillOpacity: 0
            }
          };

          markers.push(marker);
          circles.push(circle);

          vm.deviceList.push(data);
        }
      });

      this.markers = markers;
      this.circles = circles;
    }
  },
  components: {
    "device-data": DialogDeviceData
  }
};
</script>
<style lang="css" scoped>
</style>
