<template>
    <div class="col-md-12">
        <div class="page-header">
            <h1>Owned Devices</h1>
        </div>
        <div class="panel panel-default search-panel">
            <el-autocomplete
                    v-model="selectedDevice"
                    :fetch-suggestions="querySearch"
                    placeholder="Please Input"
                    style="width: 100%"
                    @select="handleSelect"
            >
                <i
                        class="el-icon-search el-input__icon"
                        slot="suffix"
                >
                </i>

            </el-autocomplete>
        </div>
        <!-- Main Panel -->
        <div class="panel panel-default">
            <el-table v-loading="tableLoading" :data="underDevices" style="width: 100%">
                <el-table-column prop="id" label="Id" width="50">
                </el-table-column>
                <el-table-column prop="name" label="Name" width="180">
                </el-table-column>
                <el-table-column prop="username" label="Username" width="180">
                </el-table-column>
                <el-table-column prop="mac_address" label="Mac Address">
                </el-table-column>
                <el-table-column label="Actions" width="150">
                    <template slot-scope="scope">
                        <el-popover placement="top" width="160" v-model="scope.row.deletePopover">
                            <p>Are you sure want to delete this?</p>
                            <div style="text-align: right; margin: 0">
                                <button class="btn btn-sm" size="mini" type="text" @click="scope.row.deletePopover = false">cancel</button>
                                <button class="btn btn-danger btn-sm" type="primary" size="mini" @click="underDevices.splice(scope.$index,1)">confirm</button>
                            </div>
                            <button type="button" slot="reference" class="btn btn-danger btn-sm">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>

        </div>

    </div>
</template>
<script>

export default {

    name: 'DeviceSearch',
    props: ['underDevices','isEdit'],
    data() {
        return {
            deviceList: [],
            selectedDevice: '',
            tableLoading: true
        }
    },
    mounted: function() {
        this.getAllFreeDevices();
    },
    methods: {
        handleSelect(device) {
            this.underDevices.push(device);
            this.selectedDevice = '';
        },
        querySearch(queryString, cb) {
            var deviceList = this.deviceList;
            var results = queryString ? deviceList.filter(this.createFilter(queryString)) : deviceList;
            cb(results);
        },
        createFilter(queryString) {
            return (deviceList) => {
                return (deviceList.value.toLowerCase().indexOf(queryString.toLowerCase()) !== -1);
            };
        },
        getAllFreeDevices: function(page) {
          var vm = this;
          vm.tableLoading = true;
          axios.get('/device/getAllFreeDevices').then(function(response) {
                response.data.forEach(function (device) {
                  device.value = device.name;
              });
                vm.deviceList = response.data;
                vm.tableLoading = false;
            });
        }
    }
}
</script>
<style lang="css" scoped>
</style>
