<template>
    <div class="col-md-12">
        <div class="page-header">
            <h1>Related Users</h1>
        </div>
        <div class="panel panel-default search-panel">

            <el-autocomplete
                    v-model="selectedUser"
                    :fetch-suggestions="querySearch"
                    placeholder="Please Input"
                    style="width: 100%"
                    @select="handleSelect"
                    
            >
                <i
                        class="el-icon-search el-input__icon"
                        slot="suffix"
                >
                </i>

            </el-autocomplete>


        </div>
        <!-- Main Panel -->
        <div class="panel panel-default">
            <el-table :data="underUsers" style="width: 100%">
                <el-table-column prop="id" label="Id" width="50">
                </el-table-column>
                <el-table-column prop="firstname" label="First Names" width="180">
                </el-table-column>
                <el-table-column prop="middlename" label="Middle Name" width="180">
                </el-table-column>
                <el-table-column prop="surname" label="Surname">
                </el-table-column>
                <el-table-column prop="email" label="Email">
                </el-table-column>
                <el-table-column prop="role" label="Role">
                </el-table-column>
                <el-table-column label="Actions" width="150">
                    <template slot-scope="scope">
                        <button type="button" class="btn btn-danger btn-sm" @click="underUsers.splice(scope.$index,1)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

    </div>
</template>
<script>
    export default {

        name: 'UserSearch',
        props: ['underUsers','isEdit'],
        data() {
            return {
                userList: [],
                selectedUser: '',
            }
        },
        mounted: function () {
            this.getAllAvailableUsers(1);
        },
        methods: {
            handleSelect(user) {
                this.underUsers.push(user);
                this.selectedUser = '';
            },
            querySearch(queryString, cb) {
                var userlist = this.userList;

                var results = queryString ? userlist.filter(this.createFilter(queryString)) : userlist;
                cb(results);
            },
            createFilter(queryString) {

                return (userList) => {
                    return (userList.value.toLowerCase().indexOf(queryString.toLowerCase()) !== -1);
                };
            },
            getAllAvailableUsers: function (page) {
                var vm = this;
                axios.get('/user/getAllAvailableUsers').then(function (response) {
                    response.data.forEach(function (user) {
                        user.value = user.firstname + " " + user.surname + " - " + user.role;
                    });
                    vm.userList = response.data;
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                });
            }

        }
    }
</script>
<style lang="css" scoped>
</style>
</template>
