<template>
    <div class="col-md-12">
        <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Accounts</el-breadcrumb-item>
                <el-breadcrumb-item>User Information</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="panel panel-default">
            <el-form :model="user"  ref="user" label-width="120px" v-loading="loading" :rules="rules">
                <el-form-item label="Username" prop="username">
                    <el-input v-model="user.username" :disabled="isEdit"> </el-input>
                </el-form-item>

                <el-form-item label="Firstname" prop="firstname">
                    <el-input v-model="user.firstname"></el-input>
                </el-form-item>
                <el-form-item label="Middlename" prop="middlename">
                    <el-input v-model="user.middlename" ></el-input>
                </el-form-item>
                <el-form-item label="Surname" prop="surname">
                    <el-input v-model="user.surname"></el-input>
                </el-form-item>
                <el-form-item label="Email" prop="email">
                    <el-input v-model="user.email" :disabled="isEdit"></el-input>
                </el-form-item>
               <!--  <el-form-item label="Password" prop="password" v-if="!isEdit">
                    <el-input type="password" v-model="user.password"></el-input>
                </el-form-item> -->
                <el-form-item label="Role" prop="role" v-if="!isEditProfile">
            
                    <el-select v-model="user.role" placeholder="Select" style="width: 100%">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                      </el-select>
                </el-form-item>
               <el-form-item label="Organization" prop="organization.name" v-if="user.role != 'Admin'  ">
                    <el-select v-model="user.organization" placeholder="Select" value-key="id" style="width: 100%">
                        <el-option
                          v-for="organization in organizations"
                          :key="organization.id"
                          :label="organization.name"
                          :value="organization">
                        </el-option>
                      </el-select>
                </el-form-item>
            
                <el-container v-if="user.role != 'Admin'  ">
                    <related-devices-form :underDevices="user.devices" :isEdit="isEdit"></related-devices-form>
                </el-container>

                <div class="form-group search-button pull-right from-button">
                    <button type="button" class="btn btn-primary" @click.prevent="submitForm(user)"> {{ (user.id) ? 'Update' : 'Save'}}</button>
                    <router-link :to="{name: 'user.search'}">
                        <button type="button" class="btn btn-default"> Cancel</button>
                    </router-link>
                </div>
                <div class="clearfix"></div>
            </el-form>
        </div>
    </div>
</template>
<script>
import RelatedUsersForm from './RelatedUsersForm.vue'
import RelatedDeviceForm from './RelatedDeviceForm.vue'

export default {

    name: 'UserForm',

    data() {
        var vm = this;
        var validateUsername = (rule, value, callback) => {
                if(vm.isEdit){
                    callback();
                }
                if (value === '') {
                  callback(new Error('Please input username'));
                }
                else if (!_.isEmpty(value)) {
                    axios.post('/user/checkUsername',{username: value}).then(function(response) {
                        if(!_.isEmpty(response.data)){
                            callback(new Error('Username already exist!'));    
                        }
                        callback();
                    });
                  
                } else {
                  callback();
                }
          };

          var validateEmail = (rule, value, callback) => {
                if(vm.isEdit){
                    callback();
                }
                if (value === '') {
                  callback(new Error('Please input email'));
                } else if (!_.isEmpty(value)) {
                    axios.post('/user/checkEmail',{email : value}).then(function(response) {
                        if(!_.isEmpty(response.data)){
                            callback(new Error('Email already exist!'));  
                        }
                        callback();
                    });
                  
                } else {
                  callback();
                }
          };

        return {
            user: {
                username: '',
                firstname: '',
                middlename: '',
                surname: '',
                email: '',
                password: '',
                role : '',
                children : [],
                devices: [],
                organization : {},
                organization_member :{}

            },
            currentUser : auth.user,
            organizations : [],
            isEdit : false,
            isEditProfile:false,
            options: [{
              value: 'P1',
              label: 'P1'
            },{
              value: 'P2',
              label: 'P2'
            },{
              value: 'P3',
              label: 'P3'
            }],
            rules: {
                username: [
                    {validator: validateUsername, trigger: 'blur' ,required: true}
                ],
                firstname: [
                    {required: true, message: 'Please input first name', trigger: 'blur'}
                ],
                middlename: [
                    {required: true, message: 'Please input middle name', trigger: 'blur'}
                ],
                surname: [
                    {required: true, message: 'Please input surname', trigger: 'blur'}
                ],
                email: [
                    {validator: validateEmail, trigger: 'blur' ,required: true}
                ]
            },
            loading: true
        };
    },
    created : function(){
        
    },
    mounted: function() {
        this.getAllOrganization();

        if (this.$route.params.id) {
            this.getUser(this.$route);
            this.isEdit = true;

        }

        if (this.$route.name === 'user.editProfile') {
            this.user = auth.user;
            this.user.organization = (this.user.organization_member) ? this.user.organization_member.organization : {};
            this.isEdit = true;
            this.isEditProfile = true;
            this.loading = false;
        }
        if (this.$route.name === 'user.create') {
            this.loading = false;
        }
        

    },
    watch: {
        '$route.name'(newId, oldId) {
            this.loading = false;
            this.user = auth.user.data;
        },
        '$route': 'getUser'
    },
    
    methods: {
        getAllOrganization : function(){
             var vm = this;
            axios.get('/organization/getAllOrganization').then(function(response) {
                vm.loading = false;
                vm.organizations = response.data;
            });
        },
        getUser: function(route) {
            var vm = this;
            var id = route.params.id
            vm.loading = true;
            axios.get('/user/' + id).then(function(response) {
                vm.loading = false;
                response.data.organization = {};
                if(response.data.organization_member){
                   response.data.organization = response.data.organization_member.organization;
                }
                vm.user = response.data;
                
            });
        },

        submitForm(user) {
            this.$refs.user.validate((valid) => {
                if (valid) {
                    var vm = this;
                    if (vm.user.id ) {
                        //update
                        if(_.isEmpty(vm.user.children)){
                            vm.user.children = [];
                        }
                        if(_.isEmpty(vm.user.devices)){
                            vm.user.devices = [];
                        }

                   
                        axios.put('/user/'+ vm.user.id, {user : vm.user, currentUser: vm.currentUser }).then(function(response) {
                            
                            vm.$alert('User updated successfully', 'Success', {
                                confirmButtonText: 'OK',
                                callback: action => {

                                }
                            });
                        });
                    } else {
                        //create
                     
                        
                        axios.post('/user', {user : vm.user, currentUser: vm.currentUser }).then(function(response) {
                            
                            vm.$alert('User created successfully', 'Success', {
                                confirmButtonText: 'OK',
                                callback: action => {
                                    vm.$router.push({
                                        name: 'user.search'
                                    });

                                    
                                }
                            });
                        })

                    }
                } else {
                    this.$message.error('error submit!!');
                    return false;
                }
            });
        },
        resetForm(user) {
            this.$refs[user].resetFields();
        }
    },    components: {
        'related-users-form': RelatedUsersForm,
        'related-devices-form': RelatedDeviceForm
    }

}
</script>
<style lang="css" >
.el-input.is-disabled .el-input__inner {
    background-color: #ffffff;
    border-color: #e4e7ed;
    color: #303133;
    cursor: not-allowed;
}
</style>
