<template>
    <div class="col-md-4 col-md-offset-4 center-vertical">
        <form @submit.prevent="resetPassword" method="post" v-loading="loading">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <router-link :to="{name: 'home'}">
                        <img class="img-responsive center-block" src="/img/logo-dark.png" />
                    </router-link>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="form-control" v-model="formData.username" required>
                </div>
                <div class="form-group full-width">
                    <button id="submit" type="submit" class="btn btn-info full-width" @click.prevent="checkUsername">Send Request</button>
                </div>
            </el-card>
        </form>
        <br>
        <el-alert :title="alertTitle" :type="alertType" :description="alertMessage" show-icon v-if="showAlert" @close="showAlert=false">
        </el-alert>
    </div>
</template>
<script>
    export default {

        data() {
            return {
                formData: {
                    username: '',
                },
                user: {},
                loading: false,
                alertTitle: '',
                alertMessage: '',
                showAlert: false,
                alertType: 'success'
            }
        },
        methods: {
            checkUsername: function () {
                var vm = this;
                vm.loading = true;
                axios.post('/user/checkUsername', this.formData).then(function (response) {
                    vm.loading = false;
                    if (response.data) {
                        vm.user = response.data;
                        vm.requestResetPassword(vm.user);
                    } else {
                        vm.alertTitle = 'Username not found';
                        vm.alertMessage = 'Enter a different username';
                        vm.alertType = 'error';
                        vm.showAlert = true;
                    }
                }).catch(function (response) {
                    vm.loading = false;
                    vm.alertType = 'error';
                    vm.alertMessage = response.response.data.message;
                    vm.showAlert = true;
                });
            },
            requestResetPassword: function (user) {
                var vm = this;
                vm.loading = true;
                axios.post('/user/requestResetPassword', user).then(function (response) {
                    vm.loading = false;
                    vm.alertType = response.data.alertType;
                    vm.alertMessage = response.data.alertMessage;
                    vm.showAlert = true;
                    $('#submit').prop('disabled', true);
                    setTimeout(function () {
                        vm.$router.push({
                            path: '/login'
                        });
                    }, 3000)

                }).catch(function (response) {
                    vm.loading = false;
                    vm.alertType = 'error';
                    vm.alertMessage = response.response.data.message;
                    vm.showAlert = true;
                });
            }

        }
    }
</script>
<style lang="css" scoped>
    .center-vertical {
        margin-top: 15%;
    }

    .logo {
        width: 100%;
    }
</style>