<template>
    <div class="col-md-12">
        <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Accounts</el-breadcrumb-item>
                <el-breadcrumb-item>New User Approval</el-breadcrumb-item>
            </el-breadcrumb>
         
        </div>
        <div class="panel panel-default">
            <el-table v-loading="tableLoading" :data="userList" style="width: 100%">
              <el-table-column prop="id" label="Id" width="50">
                </el-table-column>
                <el-table-column prop="firstname" label="First Names" width="180">
                </el-table-column>
                <el-table-column prop="middlename" label="Middle Name" width="180">
                </el-table-column>
                <el-table-column prop="surname" label="Surname">
                </el-table-column>
                <el-table-column prop="email" label="Email">
                </el-table-column>
                <el-table-column prop="role" label="Role">
                </el-table-column>
                <el-table-column label="Actions" width="150">
                    <template slot-scope="scope">
                        
                        <button class="btn btn-primary btn-sm" @click="approveUser(scope.row)">
                            <i class="glyphicon glyphicon-edit">Approve</i>
                        </button>
                        
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background layout="prev, pager, next" :total="totalItems" :page-size="pageSize" @current-change="currentChange">
           </el-pagination>
        </div>
    </div>
</template>

<script>
export default {

  name: 'UserApproval',

  data () {
    return {
    	userList : [],
        totalItems : 20,
        pageSize : 10,
        tableLoading : true,
        currentUser : auth.user
    }
  },
  mounted : function(){
  	this.getAllForApprovalUsers(1);
  },
  methods : {
  		getAllForApprovalUsers: function(page) {
          var vm = this;
       
          axios.get('/user/getAllForApprovalUsers').then(function(response) {
                vm.tableLoading = false;
                vm.userList = response.data.data;
                vm.totalItems = response.data.total;
                vm.pageSize  = response.data.per_page;
            });
        },
        currentChange : function(val){

          this.getAllForApprovalUsers(val);
        },
        approveUser: function(user){
            var vm = this;
        	axios.post('/user/approve', {user: user , currentUser: vm.currentUser}).then(function(response) {         
                vm.$alert('User approved successfully', 'Success', {
                    confirmButtonText: 'OK',
                    callback: action => {
                        vm.getAllForApprovalUsers(1);
                    }
                });
            });
        }
       
  }
}
</script>

<style lang="css" scoped>
</style>