<template>
    <div class="col-md-4 col-md-offset-4 center-vertical">
        <el-card class="box-card" v-loading="loading">
            <div slot="header" class="clearfix">
                <router-link :to="{name: 'home'}">
                    <img class="img-responsive center-block" src="/img/logo-dark.png" />
                </router-link>
            </div>
            <el-form :model="formData" ref="formData" :rules="rules" status-icon v-if="verified">
                <el-form-item prop="password">
                    <label>Password:</label>
                    <el-input type="password" v-model="formData.password" auto-complete="off"> </el-input>
                </el-form-item>
                <el-form-item prop="confirmPassword">
                    <label>Confirm Password:</label>
                    <el-input type="password" v-model="formData.confirmPassword" auto-complete="off"></el-input>
                </el-form-item>
                <div class="form-group full-width">
                    <button id="submit" type="submit" class="btn btn-info full-width" @click.prevent="resetPassword(formData)">Reset Password</button>
                </div>
            </el-form>
            <div v-else>
                <h5 class="text-danger">Your password reset link is not valid, or already used.
                    <router-link :to="{name: 'user.requestResetPassword'}">Request Reset Password</router-link>
                </h5>
            </div>
        </el-card>
        <br>
        <el-alert :title="alertTitle" :type="alertType" :description="alertMessage" show-icon v-if="showAlert" @close="showAlert=false">
        </el-alert>
    </div>
</template>
<script>
    export default {
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please input the password'));
                } else {
                    if (this.formData.confirmPassword !== '') {
                        this.$refs.formData.validateField('confirmPassword');
                    }
                    callback();
                }
            };
            var confirmPassword = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please input the password again'));
                } else if (value !== this.formData.password) {
                    callback(new Error('Two inputs don\'t match!'));
                } else {
                    callback();
                }
            };
            return {
                formData: {
                    email: '',
                    password: '',
                    confirmPassword: '',
                },
                token: '',
                verified: false,
                loading: false,
                alertTitle: '',
                alertMessage: '',
                showAlert: false,
                alertType: 'success',

                rules: {
                    password: [{
                        required: true,
                        trigger: 'blur',
                        message: 'Please enter the password',
                        validator: validatePass,
                    }],
                    confirmPassword: [{
                        required: true,
                        trigger: 'blur',
                        message: 'Please enter the password again',
                        validator: confirmPassword,
                    }],
                },
            }
        },

        created: function () {
            this.verifyResetPassword();
        },
        methods: {
            verifyResetPassword: function () {
                var vm = this;
                vm.token = vm.$route.params.token;
                axios.get('/user/verifyResetPassword/' + vm.token).then(function (response) {
                    vm.verified = response.data.verified;
                    vm.formData.email = response.data.email;
                }).catch(function (response) {
                    vm.loading = false;
                    vm.alertType = 'error';
                    vm.alertMessage = response.response.data.message;
                    vm.showAlert = true;
                });
            },
            resetPassword: function (formData) {
                this.$refs.formData.validate((valid) => {
                    if (valid) {
                        var vm = this;
                        vm.loading = true;
                        axios.post('/user/resetPassword', vm.formData).then(function (response) {
                            vm.loading = false;
                            vm.alertType = response.data.alertType;
                            vm.alertMessage = response.data.alertMessage;
                            vm.showAlert = true;
                             $('#submit').prop('disabled', true);
                            setTimeout(function () {
                                vm.$router.push({
                                    path: '/login'
                                });
                            }, 3000)

                        }).catch(function (response) {
                            vm.loading = false;
                            vm.alertType = 'error';
                            vm.alertMessage = response.response.data.message;
                            vm.showAlert = true;
                        });
                    } else {
                        this.$message.error('Please fill out the form.');
                        return false;
                    }
                });
            }

        }
    }
</script>
<style lang="css" scoped>
    .center-vertical {
        margin-top: 10%;
    }

    .logo {
        width: 100%;
    }
</style>