<template>
    <div class="col-md-12">
        <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Accounts</el-breadcrumb-item>
                <el-breadcrumb-item>User Search</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="panel panel-default search-panel">
            <form class="form-inline search-from">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Name" v-model="searchCriteria.name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Email" v-model="searchCriteria.email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <select class="form-control" v-model="searchCriteria.role">
                            <option disabled selected hidden value>Role</option>
                            <option v-for="option in roleOptions" v-bind:value="option" :key="option.id">{{ option }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group search-button pull-right">
                    <button type="submit" class="btn btn-warning" @click.prevent="searchClicked()">
                        <i class="glyphicon glyphicon-search"></i> Search</button>
                    <button type="button" class="btn btn-default" @click.prevent="resetSearch()">
                        <i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- Main Panel -->
        <div class="panel panel-default">
            <el-table v-loading="tableLoading" :data="userList" style="width: 100%">
                <el-table-column prop="id" label="Id" width="50">
                </el-table-column>
                <el-table-column prop="firstname" label="First Names" width="180">
                </el-table-column>
                <el-table-column prop="middlename" label="Middle Name" width="180">
                </el-table-column>
                <el-table-column prop="surname" label="Surname">
                </el-table-column>
                <el-table-column prop="email" label="Email">
                </el-table-column>
                <el-table-column prop="role" label="Role" width="100">
                </el-table-column>
                <el-table-column prop="organization_member.organization.name" label="Organization">
                </el-table-column>
                <el-table-column label="Actions" width="150">
                    <template slot-scope="scope">
                        <router-link :to="{name: 'user.edit', params: { id: scope.row.id }}" v-if="scope.row.role !='Admin'">
                            <button class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </router-link>
                        <el-popover placement="top" width="160" v-model="scope.row.deletePopover"  v-if="scope.row.role !='Admin'">
                            <p>Are you sure want to delete this?</p>
                            <div style="text-align: right; margin: 0">
                                <button class="btn btn-sm" size="mini" type="text" @click="scope.row.deletePopover = false">cancel</button>
                                <button class="btn btn-danger btn-sm" type="primary" size="mini" @click="scope.row.deletePopover = false; deleteUser(scope.row.id)">confirm</button>
                            </div>
                            <button slot="reference" class="btn btn-danger btn-sm">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background layout="prev, pager, next" :total="totalItems" :page-size="pageSize" :current-page="current_page" @current-change="currentChange">
            </el-pagination>
        </div>

    </div>
</template>
<script>
    export default {

        name: 'UserSearch',

        data() {
            return {
                searchCriteria: {
                    name: '',
                    email: '',
                    role: ''
                },
                roleOptions:[
                    'Admin',
                    'P1',
                    'P2',
                    'P3'
                ],
                userList: [],
                totalItems: 20,
                pageSize: 10,
                current_page: 1,
                searching: false,
                tableLoading: true,
                currentUser: auth.user
            }
        },
        mounted: function () {
            this.getUsers(this.current_page);
        },
        methods: {
            searchClicked: function (page) {
                var vm = this;
                vm.tableLoading = true;
                axios.post('/user/search?page=' + page, vm.searchCriteria).then(function (response) {
                    vm.tableLoading = false;
                    vm.searching = true;
                    if(vm.currentUser.role == 'P1'){
                       response.data.data =  vm.filterOrganizationMember(response.data.data);
                       response.data.total = response.data.data.length;
                    }
                    vm.userList = response.data.data;
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                });
            },
            
            getUsers: function (page) {
                var vm = this;
                axios.get('/user?page=' + page).then(function (response) {
                    if(vm.currentUser.role == 'P1'){
                       response.data.data =  vm.filterOrganizationMember(response.data.data);
                       response.data.total = response.data.data.length;
                    }
                    vm.tableLoading = false;
                    vm.userList = response.data.data;
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                });
            },
            filterOrganizationMember :function(datas){
                var response= [],
                    vm = this;
                
                datas.forEach(function(data){
                    if(data.organization_member && data.organization_member.organization_id == vm.currentUser.organization_member.organization_id){
                        response.push(data);
                    }
                })

                return response;

            },
            currentChange: function(val) {
                var vm = this;
                vm.current_page = val;
                if(!vm.searching)
                vm.getUsers(vm.current_page);
                else
                vm.searchClicked(vm.current_page);
            },
            resetSearch: function () {
                var vm = this;
                vm.searchCriteria = {
                    name: '',
                    email: '',
                    role: ''
                };
                vm.searching = false;
                vm.current_page = 1;
                vm.getUsers(vm.current_page);
            },
            deleteUser: function (id) {
                var vm = this;
                vm.tableLoading = true;
                axios.post('/user/delete' , { id:id, currentUser: vm.currentUser}).then(function (response) {
                    vm.tableLoading = false;
                    vm.current_page = 1;
                    vm.getUsers(vm.current_page);
                });
            },

        }
    }
</script>
<style lang="css" scoped>
</style>
</template>