<template>
    <div class="col-md-12">
        <div class="page-header">
          
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Accounts</el-breadcrumb-item>
                <el-breadcrumb-item>User Logs</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="panel panel-default search-panel">
            <form class="form-inline search-from">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Name" v-model="searchCriteria.log_name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Description" v-model="searchCriteria.description">
                    </div>
                </div>
            
                <div class="form-group search-button pull-right">
                    <button type="submit" class="btn btn-warning" @click.prevent="searchClicked()">
                        <i class="glyphicon glyphicon-search"></i> Search</button>
                    <button type="button" class="btn btn-default" @click.prevent="resetSearch()">
                        <i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- Main Panel -->
        <div class="panel panel-default">
            <el-table v-loading="tableLoading" :data="activityList" style="width: 100%">
                <el-table-column prop="id" label="ID" width="100">
                </el-table-column>
                <el-table-column prop="log_name" label="Log Name" width="250" >
                </el-table-column>
                <el-table-column prop="description" label="Description" >
                </el-table-column>
                <el-table-column prop="causer.username" label="Caused By" width="150" >
                </el-table-column>
            </el-table>
            <el-pagination background layout="prev, pager, next" :total="totalItems" :page-size="pageSize" :current-page="current_page" @current-change="currentChange">
            </el-pagination>
        </div>

    </div>
</template>
<script>
    export default {

        name: 'UserLogs',

        data() {
            return {
                searchCriteria: {
                    log_name: '',
                    description: ''
                },
               
                activityList: [],
                totalItems: 20,
                pageSize: 10,
                current_page: 1,
                searching: false,
                tableLoading: true,
                currentUser: auth.user
            }
        },
        mounted: function () {
            this.getUsers(this.current_page);
        },
        methods: {
            searchClicked: function (page) {
                var vm = this;
                vm.tableLoading = true;
                axios.post('/user/searchActivity?page=' + page, vm.searchCriteria).then(function (response) {
                    vm.tableLoading = false;
                    vm.searching = true;
                    vm.activityList = response.data.data;
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                });
            },
            getUsers: function (page) {
                var vm = this;
                axios.get('/user/getAllActivity?page=' + page).then(function (response) {
                    vm.tableLoading = false;
                    vm.activityList = response.data.data;
                    vm.totalItems = response.data.total;
                    vm.pageSize = response.data.per_page;
                });
            },
            currentChange: function(val) {
                var vm = this;
                vm.current_page = val;
                if(!vm.searching)
                vm.getUsers(vm.current_page);
                else
                vm.searchClicked(vm.current_page);
            },
            resetSearch: function () {
                var vm = this;
                vm.searchCriteria = {
                    name: '',
                    email: ''
                    
                };
                vm.searching = false;
                vm.current_page = 1;
                vm.getUsers(vm.current_page);
            }

        }
    }
</script>
<style lang="css" scoped>
</style>
</template>