<template>
    <div class="col-md-12">
        <div class="page-header">
            <el-breadcrumb separator=">" style="font-size: 30px;">
                <el-breadcrumb-item>Accounts</el-breadcrumb-item>
                <el-breadcrumb-item>User Signup</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="panel panel-default">

            <el-form :model="user"  ref="user" label-width="180px" v-loading="loading" :rules="rules" status-icon >
                <el-form-item label="Username" prop="username">
                    <el-input v-model="user.username" ></el-input>
                </el-form-item>

                <el-form-item label="Firstname" prop="firstname">
                    <el-input v-model="user.firstname" ></el-input>
                </el-form-item>
                <el-form-item label="Middlename" prop="middlename">
                    <el-input v-model="user.middlename" ></el-input>
                </el-form-item>
                <el-form-item label="Surname" prop="surname">
                    <el-input v-model="user.surname"></el-input>
                </el-form-item>
                <el-form-item label="Email" prop="email">
                    <el-input v-model="user.email" ></el-input>
                </el-form-item>
                <el-form-item label="Password" prop="password" >
                    <el-input type="password" v-model="user.password"  auto-complete="off"> </el-input>
                </el-form-item>
                <el-form-item label="Confirm Password" prop="confirmPassword">
                    <el-input type="password"  v-model="user.confirmPassword"  auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item label="Organization" prop="organization" >
                    <el-select v-model="user.organization" placeholder="Select" value-key="id" style="width: 100%">
                        <el-option
                          v-for="organization in organizations"
                          :key="organization.id"
                          :label="organization.name"
                          :value="organization">
                        </el-option>
                      </el-select>
                </el-form-item>
                <el-form-item label="Role" prop="role" >
                    <el-select v-model="user.role" placeholder="Select" >
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                      </el-select>
                      <el-checkbox v-model="termCheckBox">I agree to the terms and conditions</el-checkbox>
                </el-form-item>
               
                <el-dialog title="Terms and Condition" :visible.sync="termsConditionDialog">
                    <span> We collect the following types of information about you:</span><br><br>

<span><i>Information you provides us directly:</i></span><br><br>

<span>We ask for certain information such as your username, real name, email address when you register for a MHI account, or if you correspond with us. We use this information to operate, maintain and provide to you the features and functionality of the Service.
 Your username and if you choose to discloses it, your real name, will be published publicly. Once published your username and/or real name may not be able to be removed.</span>
                    <span slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="termsConditionDialog = false">Confirm</el-button>
                    </span>
                </el-dialog>
            
                <div class="form-group search-button pull-right from-button">
                    <button type="button" class="btn btn-primary" @click.prevent="submitForm(user)"> Accept</button>
                    <router-link :to="{name: 'login'}">
                        <button type="button" class="btn btn-default"> Cancel</button>
                    </router-link>
                </div>
                <div class="clearfix"></div>
            </el-form>
        </div>
    </div>
</template>
<script>
export default {
  name: "UserForm",

  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input the password"));
      } else {
        if (this.user.confirmPassword !== "") {
          this.$refs.user.validateField("confirmPassword");
        }
        callback();
      }
    };
    var confirmPassword = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input the password again"));
      } else if (value !== this.user.password) {
        callback(new Error("Two inputs don't match!"));
      } else {
        callback();
      }
    };
    var validateUsername = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input username"));
      } else if (!_.isEmpty(value)) {
        axios
          .post("/user/checkUsername", { username: value })
          .then(function(response) {
            if (!_.isEmpty(response.data)) {
              callback(new Error("Username already exist!"));
            }
            callback();
          });
      } else {
        callback();
      }
    };
    var validateEmail = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input email"));
      } else if (!_.isEmpty(value)) {
        axios
          .post("/user/checkEmail", { email: value })
          .then(function(response) {
            if (!_.isEmpty(response.data)) {
              callback(new Error("Email already exist!"));
            }
            callback();
          });
      } else {
        callback();
      }
    };
    return {
      user: {
        username: "",
        firstname: "",
        middlename: "",
        surname: "",
        email: "",
        password: "",
        confirmPassword: "",
        parent: {},
        organization: {},
        role: "P3"
      },
      termCheckBox: "",
      options: [
        {
          value: "P1",
          label: "P1 - Sub Admin"
        },
        {
          value: "P2",
          label: "P2 - Device Owner"
        },
        {
          value: "P3",
          label: "P3 - Guest"
        }
      ],
      termsConditionDialog: true,
      organizations: [],
      rules: {
        username: [
          { validator: validateUsername, trigger: "blur", required: true }
        ],
        firstname: [
          {
            required: true,
            message: "Please input first name",
            trigger: "blur"
          }
        ],
        middlename: [
          {
            required: true,
            message: "Please input middle name",
            trigger: "blur"
          }
        ],
        surname: [
          { required: true, message: "Please input surname", trigger: "blur" }
        ],
        email: [{ validator: validateEmail, trigger: "blur", required: true }],
        password: [
          { validator: validatePass, trigger: "blur" },
          {
            min: 6,
            message: "Your password is too short! Minimum of 8 characters",
            trigger: "blur"
          }
        ],
        confirmPassword: [{ validator: confirmPassword, trigger: "blur" }]
      },
      loading: true
    };
  },
  created: function() {},
  mounted: function() {
    this.getAllOrganization();
    this.loading = false;
  },

  methods: {
    getAllOrganization: function() {
      var vm = this;
      axios.get("/organization/getAllOrganization").then(function(response) {
        vm.loading = false;
        vm.organizations = response.data;
      });
    },
    getUser: function(route) {
      var vm = this;
      var id = route.params.id;

      axios.get("/user/" + id).then(function(response) {
        vm.loading = false;
        vm.user = response.data;
      });
    },

    submitForm(user) {
      var vm = this;
      this.$refs.user.validate(valid => {
        if(!vm.termCheckBox){
            this.$message.error('Please agree in the terms and condition!');
            return false;
        }  
        if (valid) {
          vm.loading = true;
          axios
            .post("/user/signup", vm.user)
            .then(function(response) {
              vm.loading = false;
              vm.$alert(
                "User created successfully, Email confirmation has been sent to your email address",
                "Success",
                {
                  confirmButtonText: "OK",
                  callback: action => {
                    vm.$router.push({
                      name: "login"
                    });
                  }
                }
              );
            })
            .catch(error => {
              vm.loading = false;
              vm.$message.error(error.response.data.message);
            });
        } else {
          this.$message.error("Please fix all the error first");
          return false;
        }
      });
    },
    resetForm(user) {
      this.$refs[user].resetFields();
    }
  },
  components: {}
};
</script>
<style lang="css" scoped>
</style>
