<template>
    <div class="center">
        <el-card class="box-card login-card" v-loading="loading">
            <div slot="header" class="clearfix">
                 <router-link :to="{name: 'home'}">
                    <img class="img-responsive center-block" src="/img/logo-dark.png" />
                </router-link>
            </div>
            <form autocomplete="off" @submit.prevent="login" method="post" >
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="form-control" v-model="auth.username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" v-model="auth.password" required>
                </div>
                <div class="form-group search-button pull-right full-width">
                    <button type="submit" class="btn btn-info full-width" @click.prevent="login"> Sign in</button>
                </div>
    
                <router-link :to="{name: 'user.signup'}">
                    <button type="button" class="btn  full-width" > Sign Up</button>
                </router-link>
                <router-link :to="{name: 'user.requestResetPassword'}">
                    <span class="pull-right" style="margin-top:5px">Forgot Password?</span>
                </router-link>
                <el-alert title="Error Login" type="error" :description="errorMessage" show-icon :closable="false" v-if="showError" @close="showError=false">
                </el-alert>
                <div class="clearfix"></div>
            </form>
        </el-card>
    </div>
</template>
<script>
export default {

    name: 'LoginForm',

    data() {
        return {
            auth: {
                username: '',
                password: ''
            },
            errorMessage: '',
            showError: false,
            loading : false
        }
    },
    methods: {
        login: function() {
            var vm = this;
            vm.loading = true;
            axios.post('/api/login', this.auth).then(function(response) {
                
                auth.login(response.data.token, response.data.user);
                vm.loading = false;
                vm.$router.push({
                    name: 'home'
                });
            }).catch(function(response) {
                vm.loading = false;
                vm.showError = true;
                vm.errorMessage = response.response.data.message;
            });
        }
    }
}
</script>
<style lang="css" scoped>
.box-card {
    width: 480px;
}
</style>
